<div class="row top-footer">
    <div class="col-md-3">
        <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/DDW_50_Yrs_Stand-alone_logo_gold_on_dark_rgb.png"
             alt="DDW 50 years logo"
             class="img-fluid">
    </div>
    <div class="col-md-6">
        <p>Plan Your Itinerary with the Free DDW Mobile App.</p>
        <p>The free app helps you search scientific sessions, browse posters, and find everything you need to know at
            the event. It is now available to download.</p>
        <div class="row">
            <div class="col-sm-6">
                <a class="app apple" href="http://ativ.me/ev7"></a>
            </div>
            <div class="col-sm-6">
                <a class="app google" href="http://ativ.me/ev8"></a>
            </div>
        </div>
    </div>
    <div class="col-auto right-panel">
        <p><img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-white.png"
                alt="DDW logo"
                class="img-fluid ddw-white"></p>
        <p>Contact Us <br>
            301-272-0022 <br>
            administration@ddw.org</p>

        <p>Digestive Disease Week <br>
            4930 Del Ray Avenue <br>
            Bethesda, MD 20814</p>
    </div>
</div>

<div class="row middle-footer text-left">
    <div class="col-md-2">
        <h5>Register</h5>
        <ul>
            <li><a [routerLink]="['#']">Registration</a></li>
            <li><a [routerLink]="['#']">Housing</a></li>
            <li><a [routerLink]="['#']">Host City &amp; Travel Arrangements</a></li>
            <li><a [routerLink]="['#']">International Attendees</a></li>
            <li><a [routerLink]="['#']">First-Time Attendee</a></li>
            <li><a [routerLink]="['#']">First-Time Attendee Guide</a></li>
        </ul>

    </div>
    <div class="col-md-2">
        <h5>Attendee Planning</h5>
        <ul>
            <li><a [routerLink]="['#']">Program Planning Resources</a></li>
            <li><a [routerLink]="['#']">Scope Out the Exhibit Hall</a></li>
            <li><a [routerLink]="['#']">Networking Events</a></li>
            <li><a [routerLink]="['#']">Mobile App</a></li>
            <li><a [routerLink]="['#']">Online Planner</a></li>
            <li><a [routerLink]="['#']">DDW Tracks</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <h5>
            Education
        </h5>
        <ul>
            <li><a [routerLink]="['#']">Scientific Sessions</a></li>
            <li><a [routerLink]="['#']">Abstracts</a></li>
            <li><a [routerLink]="['#']">Poster Hall</a></li>
            <li><a [routerLink]="['#']">CME Credit &amp; Certificate of Attendance</a></li>
            <li><a [routerLink]="['#']">Session Recordings</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <h5>Exhibitor Information</h5>
        <ul>
            <li><a [routerLink]="['#']">Reserve Your Space</a></li>
            <li><a [routerLink]="['#']">Floor Plan</a></li>
            <li><a [routerLink]="['#']">Exhibitor Portal</a></li>
            <li><a [routerLink]="['#']">Exhibitor Policies</a></li>
            <li><a [routerLink]="['#']">Marketing Opportunities</a></li>
            <li><a [routerLink]="['#']">Host an On-Site Meeting</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <h5>News &amp; Media</h5>
        <ul>
            <li><a [routerLink]="['#']">DDW Daily News</a></li>
            <li><a [routerLink]="['#']">Press Room</a></li>
            <li><a [routerLink]="['#']">Press Releases</a></li>
            <li><a [routerLink]="['#']">Social Media</a></li>
            <li><a [routerLink]="['#']">Media Policy</a></li>
            <li><a [routerLink]="['#']">Guidelines &amp; License for Use of DDW Content</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <h5>Presenters</h5>
        <ul>
            <li><a [routerLink]="['#']">Submit an Abstract</a></li>
            <li><a [routerLink]="['#']">Travel Awards</a></li>
            <li><a [routerLink]="['#']">Presenter Resources</a></li>
        </ul>
    </div>
</div>

<div class="row middle-bottom">
    <div class="container text-center">
        <div class="offset-md-2 col-md-8">
            <h5>Sponsoring Societies: AASLD | AGA | ASGE | SSAT</h5>
        </div>
    </div>
</div>

<div class="container-fluid copyright">
    <div class="row">
        <div class="col-md-6">
            <p>
                &nbsp;Privacy Policy | &copy; 2018 Digestive Disease Week. All Rights Reserved.
            </p>
        </div>
        <div class="col">
            <p>
                Site Built by <a href="https://gastro.org" target="_blank" class="aga-copy">&copy; 2018 American Gastroenterological Association</a>.&nbsp;
                <a href="https://www.facebook.com/DDWMeeting" target="_blank" class="social"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/DDWMeeting" target="_blank" class="social"><i
                        class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/user/DDWMeeting" target="_blank" class="social"><i
                        class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/ddwmeeting" target="_blank" class="social"><i
                        class="fab fa-instagram"></i></a>
            </p>
        </div>
    </div>
</div>