h5 {
    font-weight: bold;
    font-size: 18px;
}

li > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px !important;
    font-weight: 600;
}

ul {
    -webkit-margin-before: 0;
    padding-left: 0;

}

ul > li {
    list-style-type: none;
    line-height: 1.5em;
    font-size: 14px !important;
}

ul > li > a {
    line-height: 1em;
}

.row.top-footer {
    background-color: #003f5f;
    color: #ffffff;
    padding: 2em 0.5em 0 1.5em;
    font-size: 14px;
    margin-top: 50px;
}

p.apps {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}

img.ddw-white {
    max-width: 150px;
}

.right-panel {
    border-left: 1px solid white;
    padding-bottom: 3em;
}

.middle-footer {
    background: #5F6A72;
    color: #ffffff;
    padding: 3em 0.5em;
}

i.fa-apple,
i.fa-google-play {
    color: #ffffff;
    font-size: 3em;
}

img.apple {
    max-width: 160px;
}

apps {
    margin: 0 1em;
}

a.app.apple {
    display: inline-block;
    background-size: cover;
    margin: 0 1em;
    border: 2px solid #fff;
    background-color: #003f5f;
    /*max-width: 180px;*/
    width: 180px;
    height: 65px;
    padding: 2em;
    background-image: url(https://s3.amazonaws.com/DDW/ddw-org/images/logos/apple-appstore-trans.png);
}

a.app.google {
    display: inline-block;
    background-size: cover;
    margin: 0 0.5em;
    border: 2px solid #fff;
    background-color: #003f5f;
    /*max-width: 180px;*/
    width: 180px;
    height: 65px;
    padding: 2em;
    background-image: url(https://s3.amazonaws.com/DDW/ddw-org/images/logos/google-play-trans.png);
}

a.app.apple:hover, a.app.google:hover {
    background-color: #2e6da4;
}

a.app.apple:hover {
    background-image: url(https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/apple-hover.png);
}

a.app.google:hover {
    background-image: url(https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/google-hover.png);
}

h5 {
    font-weight: bold;
}

.middle-bottom {
    background: #5F6A72;
    color: #ffffff;

}

.middle-bottom > .container > div > h5 {
    background: #5F6A72;
    color: #ffffff;
    padding: 1em 1em 3em 1em;
    border-top: 1px solid #ffffff;
}

.copyright {
    background-color: #003f5f;
    color: #ffffff;
    padding: 1em 0;
    font-weight: 600;
    font-size: 13px;
}

p.copy {
    font-size: 13px;
    font-weight: 600;
}

a.aga-copy {
    color: #fff;
}

a.social {
    margin: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}