h1, h2, h3, h4, h5, h6, p, div, tr, th, tr, td, ul, ol, li {
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif !important;
    line-height: 1.5;
}

.card, .card-body, .card-text, .card-footer {
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif !important;
    line-height: 1.7;
    font-size: 1em;
    border-radius: 0;
}

a.text-dark:hover {
    color: #44484f !important;
}

.viewed {
    background-color: #D0CAC8 !important;
    color: #6D686E !important;
    border: 1px solid #D0CAC8;
}

a.viewed-text {
    color: #898992 !important;
}

.card.viewed > div > div > div > table > tbody > tr * {
    border-color: #E1DBD9 !important;
}

tr.viewed, tr.viewed > *, tr.viewed > td > a.btn-default.btn-sm {
    border-color: #E1DBD9 !important;
}


.text-mono {
    font-family: 'SF Mono', 'Menlo', 'Roboto Mono', 'DejaVu Sans Mono', 'Consolas', monospace;
}

h3.alert.alert-light {
    background-color: #6D686E;
    color: #D1D1D2;
    border: 1px solid #787279;
}

a.viewed-link {
    color: #6D686E;
    font-weight: bold;
}

a.btn.btn-default.btn-sm.viewed-btn {
    border-color: #6D686E !important;
    background-color: #6D686E;
    color: #D0CAC8;
}