<div class="row mb-5 mt-3">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center text-secondary pb-4 pt-3">
                    <span class="text-dark">
               <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-color.png"
                    alt="ddw logo" class="ddw-logo" style="max-width:200px;"> <br>
                        <i class="fa fa-home"></i>&nbsp;Admin
                    </span> Home Page
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ng-template #videoLoading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="dailyVideoForm"
                              (ngSubmit)="onDailyVideoSubmit(dailyVideoForm.value)"
                              *ngIf="dailyVideo; else videoLoading">
                            <div class="form-group">
                                <label>
                                    <h5>DDW Daily News Video</h5>
                                    <p class="text-light">URL needs to come from a embedded iFrame</p>
                                    <p class="text-light">ie. Go to YouTube video > share > embed > grab url from
                                        src="this-url"</p>
                                </label>
                                <input type="url"
                                       class="form-control"
                                       [(ngModel)]="videoURL"
                                       formControlName="videoURL">
                            </div>
                            <button class="btn btn-secondary">
                                <i class="fa fa-video"></i>&nbsp;Save Video URL
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="countdownForm"
                              (ngSubmit)="onCountdownSubmit(countdownForm.value)"
                              *ngIf="countdown; else loading">
                            <div class="form-group">
                                <label><h5>Set Countdown Date</h5>
                                    Current Set Date is: <br> {{ countdown.date.toDate() | date:'medium' }}
                                </label>
                                <input type="text"
                                       class="form-control"
                                       bsDatepicker
                                       [bsConfig]="bsConfig"
                                       placement="top"
                                       [(ngModel)]="date"
                                       formControlName="date">
                            </div>
                            <button class="btn btn-secondary">
                                <i class="fa fa-alarm-clock"></i>&nbsp;Save Countdown
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ng-template #homeLoading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Banner Text</h4>
                        <form [formGroup]="homePageForm"
                              (ngSubmit)="onHomePageSubmit(homePageForm.value)"
                              *ngIf="homePage; else homeLoading">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text"
                                               class="form-control"
                                               id="title"
                                               [(ngModel)]="homePage.title"
                                               formControlName="title">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="subtitle">Subtitle</label>
                                        <input type="text"
                                               class="form-control"
                                               id="subtitle"
                                               [(ngModel)]="homePage.subtitle"
                                               formControlName="subtitle">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="forTime">For Time</label>
                                        <input type="text"
                                               class="form-control"
                                               id="forTime"
                                               [(ngModel)]="homePage.forTime"
                                               formControlName="forTime">
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="subheaderLoc">Subheader Location</label>
                                        <input type="text"
                                               class="form-control"
                                               id="subheaderLoc"
                                               [(ngModel)]="homePage.subheaderLoc"
                                               formControlName="subheaderLoc">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="subheaderDate">Subheader Date</label>
                                        <input type="text"
                                               class="form-control"
                                               id="subheaderDate"
                                               [(ngModel)]="homePage.subheaderDate"
                                               formControlName="subheaderDate">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-secondary">
                                    <i class="fa fa-home"></i>&nbsp;Save Home Page
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>