pre > textarea {
    font-size: 13px;
    font-family:  'SF Mono', 'Roboto Mono', 'Menlo', 'consolas', monospace;
    /*background-color: #2b2b2b;*/
    background-color: #333333;
    /*color: #a56f37;*/
    color: #a1b0c0;
    letter-spacing: 1px;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}

