<!-- * PAGES-CARD-NEW * -->

<!-- * Image Uploader * -->
<div class="mb-2 mt-5">
    <ddw-admin-image-uploader-item></ddw-admin-image-uploader-item>
</div>


<div class="row mb-4">
    <div class="container">
        <div class="offset-md-10">
            <a [routerLink]="['/admin/page-cards']"
               class="btn btn-default">&nbsp; <i class="fa fa-window-restore"></i>
                All Page Cards
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card bg-lighter inner-card">
                        <div class="card-body">
                            <div class="card-header-title">
                                <h4 class="pb-2">New Page Card
                                    <small class="text-secondary"></small>
                                </h4>
                                <hr class="inset-hr mb-3">
                            </div>
                            <form [formGroup]="newPageCardForm"
                                  (ngSubmit)="onCreateCard(newPageCardForm.value)">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text"
                                           class="form-control"
                                           [class.invalid]="!f.title.valid && f.title.touched"
                                           [(ngModel)]="card.title"
                                           formControlName="title">
                                </div>

                                <div class="form-group">
                                    <label>Body</label>
                                    <textarea type="text"
                                              rows="5"
                                              class="form-control"
                                              [class.invalid]="!f.body.valid && f.body.touched"
                                              [(ngModel)]="card.body"
                                              formControlName="body">
                                </textarea>
                                </div>

                                <div class="form-group">
                                    <label>Button Text</label>
                                    <input type="text"
                                           class="form-control"
                                           [class.invalid]="!f.buttonString.valid && f.buttonString.touched"
                                           [(ngModel)]="card.buttonString"
                                           formControlName="buttonString">
                                </div>


                                <div class="form-group">
                                    <label>Button Link</label>
                                    <input type="url"
                                           class="form-control"
                                           [class.invalid]="!f.url.valid && f.url.touched"
                                           [(ngModel)]="card.url"
                                           formControlName="url">
                                </div>


                                <div class="form-group">
                                    <label>Image URL
                                        <small>(Image at the top of card)</small>
                                    </label>
                                    <input type="url"
                                           class="form-control"
                                           [class.invalid]="!f.photoURL.valid && f.photoURL.touched"
                                           [(ngModel)]="card.photoURL"
                                           formControlName="photoURL">
                                </div>

                                <!-- * ExtURL  * -->
                                <div class="form-group mt-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input ext-url"
                                               id="isExtURL"
                                               [(ngModel)]="card.isExtURL"
                                               formControlName="isExtURL">
                                        <label class="custom-control-label ext-url"
                                               for="isExtURL">External URL?
                                        </label>
                                    </div>
                                </div>

                                <button type="submit"
                                        [disabled]="!newPageCardForm.valid"
                                        class="btn btn-secondary full-width mb-3 mt-2">
                                    <i class="fa fa-window-restore"></i>&nbsp;Create
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- * Page Card Item * -->
            <div class="card card-inner bg-lighter">
                <div class="card-body">
                    <h6 class="alert alert-dark-dark text-center"
                        *ngIf="card && card.isExtURL">
                        <i class="fa fa-check-square"></i> &nbsp;External URL
                    </h6>
                    <h6 class="alert alert-dark text-center"
                        *ngIf="card && !card.isExtURL">
                        <i class="fa fa-times"></i> &nbsp;External URL
                    </h6>
                    <h4 class="card-header-title">Card Preview</h4>
                    <hr class="inset-hr">
                </div>
                <ng-template #cardPreview>
                    <div class="text-center p-4">
                        <i class="fal fa-spinner-third fa-spin"></i>
                        <p class="card-preview">
                            Card will appear here...
                        </p>
                    </div>
                </ng-template>
                <div class="card inner-card ml-4 mr-4 mb-4 mt-0"
                     *ngIf="card.title || card.body || card.photoURL; else cardPreview">
                    <div class="card-body">
                        <img class="card-img-top"
                             [src]="card.photoURL"
                             [alt]="card.title"
                             *ngIf="card.photoURL">
                        <div class="card-body text-center">
                            <h5 class="card-title"
                                *ngIf="card.title">{{ card.title }}</h5>
                            <p class="card-text"
                               *ngIf="card.body">{{ card.body }}</p>
                            <p class="text-center"
                               *ngIf="card.url && card.buttonString">
                                <a [href]="card.url"
                                   class="btn btn-warning btn-lg">
                                    {{ card.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>