input.invalid, textarea.invalid {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #701D26;
    background-color: #F7D7DB;
    background-clip: padding-box;
    border: 1px solid #CBB1B4;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

hr.inset-hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 0;
}

i.fa-spinner-third {
    font-size: 10em;
    color: #444444;
}

p.card-preview {
    color: #444444;
    font-size: 1em;
    padding: 2em;
}

.ext-url {
    cursor: pointer;
}