a:link {
    color: #2e6da4;
}

.hero {
    background-position: top center;
    background-image: url(https://s3.amazonaws.com/DDW/ddw-org/images/banners/ddw-2019-hero-blue.png);
    padding-bottom: 300px;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-size: cover;
}

.header-content {
    top: 250px;
    position: relative;
}

h1.title {
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.8em;
}

.subtitle {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.6em;
}

h2.loc-date {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
}

.forTime {
    color: #FEB512;
}

/* Countdown Timer */

.countdown {
    margin-top: 3em;
}

td {
    padding: 1em;
}

h1.time {
    font-family: 'Century Gothic', 'Muli', Arial, sans-serif;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
}

.time {
    font-family: 'Century Gothic', 'Muli', Arial, sans-serif;
    padding-top: 0.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.days {
    background: #15abe8 none repeat scroll 0 0;
    border-radius: 50%;
    /*bottom: 0;*/
    content: "";
    /*display: block;*/
    height: 110px;
    /*left: 12px;*/
    /*position: absolute;*/
    /*top: -35px;*/
    width: 110px;
    z-index: 1;
    border: 3px solid rgba(255, 255, 255, .5);
}

.hours {
    background: #15abe8 none repeat scroll 0 0;
    border-radius: 50%;
    /*bottom: 0;*/
    content: "";
    /*display: inline-block;*/
    height: 110px;
    /*left: 12px;*/
    /*position: absolute;*/
    /*top: -35px;*/
    width: 110px;
    z-index: 1;
    border: 3px solid rgba(255, 255, 255, .5);
}

.minutes {
    background: #15abe8 none repeat scroll 0 0;
    border-radius: 50%;
    /*bottom: 0;*/
    content: "";
    /*display: block;*/
    height: 110px;
    /*left: 12px;*/
    /*position: absolute;*/
    /*top: -35px;*/
    width: 110px;
    z-index: 1;
    border: 3px solid rgba(255, 255, 255, .5);
}

.seconds {
    background: #15abe8 none repeat scroll 0 0;
    border-radius: 50%;
    /*bottom: 0;*/
    content: "";
    /*display: block;*/
    height: 110px;
    /*left: 12px;*/
    /*position: absolute;*/
    /*top: -35px;*/
    width: 110px;
    z-index: 1;
    border: 3px solid rgba(255, 255, 255, .5);
}

/* Post-Meeting Resources */
h2.card-sec-title {
    padding-top: 2em;
    font-size: 30px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.card-sec-subtitle {
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    margin-top: 2em;
}

.underline {
    border-bottom: 2px solid #FEB512;
    margin-top: 1em;
}

/* Cards */
row.cards {
    max-width: 1200px;
    margin: 5em 0 8em 0;
}

.bg-blue {
    background-color: #003F5F;
    color: #ffffff;
    padding: 3em 0;
}

h5 {
    line-height: 2em;
}

iframe.daily-news {
    margin: 2em 0;
}

.ads {
    margin: 1em 0 5em 0;
    width: 100%;
}

/* Featured Blog Posts */
.featured {
    background-color: #F9F9F9;
    padding-top: 3em;
}

.blog-posts {
    background-color: #F9F9F9;
    padding: 5em 0 8em 0;
}

/* On Demand */
.on-demand-top {
    padding: 3em 0;
}

.on-demand-bottom {
    padding: 1em 0;
}

div.row.on-demand-bottom > div.container > p {
    line-height: 2;
    font-size: 18px;
}

.purchase {
    margin-bottom: 3em;
}

/* DDW By The Numbers */
.ddw-by-the-numbers {
    background-size: cover;
    background: url(https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/bg2.jpg) center;
    color: #ffffff;
    /*height: 460px;*/
    background-size: cover;
    background-position: center;
    padding-top: 4em;
    padding-bottom: 4em;
}


.numbers {

}

p.num {
    font-size: 72px;
}

p.num-def {
    font-size: 18px;
    line-height: 2;
}

/* Sponsors */

.row.sponsors {
    padding: 4em 0 3em 0;
}

.sponsor-images {
    padding-bottom: 3em;
}

img.sponsor-one {
    max-width: 208px;
    vertical-align: middle;
    padding-top: 1em;
}

img.sponsor-two {
    max-width: 280px;
    vertical-align: middle;
    padding-top: 2em;
}

img.sponsor-three {
    max-width: 186px;
    vertical-align: middle;
}

img.sponsor-four {
    max-width: 162px;
    vertical-align: middle;
}

/*.pad1 {*/
/*padding-top: 4em;*/
/*padding-bottom: 4em;*/
/*background: #fff;*/
/*}*/

/* For inline img banner */

/*img.banner-background {*/
/*top: 0;*/
/*width: 100%;*/
/*}*/