<!-- * HOME * -->
<ddw-navbar></ddw-navbar>
<!--<img src="https://s3.amazonaws.com/DDW/ddw-org/images/banners/ddw-2019-hero-blue.png"/>-->
<!--<div class="hero"></div>-->
<div class="row">
    <div class="hero">
        <div class="container text-center">
            <div class="col-auto offset-md-1 offset-sm-0">
                <div class="header-content" *ngIf="homePage">
                    <h1 class="title">{{ homePage.title }}</h1>
                    <h2 class="subtitle">{{ homePage.subtitle }} <span class="forTime">{{ homePage.forTime }}</span>
                    </h2>
                    <h3 class="loc-date">{{ homePage.subheaderLoc }}&nbsp;&nbsp;&nbsp;&nbsp;<span class="forTime">
                    <i class="fa fa-calendar"></i></span>&nbsp;&nbsp;{{ homePage.subheaderDate }}
                    </h3>

                    <div class="row">
                        <div class="col-md-8 offset-lg-2 offset-md-1 offset-sm-0">
                            <div class="container container-time">
                                <table *ngIf="time1$ | async as time1" class="countdown table-responsive-sm">
                                    <tbody>
                                    <tr>
                                        <td class="text-center circles">
                                            <div class="days"><h1 class="time">{{time1.days}}</h1></div>
                                            <h6 class="time">Days</h6>
                                        </td>
                                        <td class="text-center circles">
                                            <div class="hours"><h1 class="time">{{time1.hours}}</h1></div>
                                            <h6 class="time">Hours</h6>
                                        </td>
                                        <td class="text-center circles">
                                            <div class="minutes"><h1 class="time">{{time1.minutes}}</h1></div>
                                            <h6 class="time">Minutes</h6>
                                        </td>
                                        <td class="text-center circles">
                                            <div class="seconds"><h1 class="time">{{time1.seconds}}</h1></div>
                                            <h6 class="time">Seconds</h6>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="homePage && !homePage.cardsHidden">
    <div class="container">
        <div class="col-md-7 offset-md-3 text-center">
            <h2 class="card-sec-title">{{ homePage.cardsTitle }}</h2>
        </div>
    </div>
</div>

<div class="row" *ngIf="homePage && !homePage.cardsHidden">
    <div class="container">
        <div class="card-sec-subtitle">
            <p>{{ homePage.cardsSubtitle }}</p>
        </div>
    </div>
</div>

<!-- * Cards * -->
<div class="row cards" *ngIf="homePage && !homePage.cardsHidden">
    <div class="container">
        <div class="row">
            <ddw-admin-cards
                    class="col-md-4"
                    *ngFor="let cardEl of cards$ | async"
                    [card]="cardEl">
            </ddw-admin-cards>
        </div>
    </div>
</div>

<!-- * DDW Video * -->
<div class="row bg-blue" *ngIf="homePage && !homePage.videoHidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2 class="blue-sec card-sec-title">{{ homePage.videoTitle }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="video-spacer" *ngIf="!videoURL"></div>
            <div class="col-md-10 offset-md-1 text-center" *ngIf="videoURL">
                <iframe width="560"
                        height="315"
                        [src]="safeVideoURL"
                        class="daily-news"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="row text-center">
            <h5 [innerHTML]="homePage.videoSubtitle"></h5>
        </div>
    </div>
</div>

<!-- * Featured Blog Posts * -->
<div class="row featured" *ngIf="homePage && !homePage.postsHidden">
    <div class="container">
        <div class="col-md-6 offset-md-3 text-center">
            <h2 class="card-sec-title card-sec-title" *ngIf="homePage">{{ homePage.postsTitle }}</h2>
        </div>
    </div>
</div>

<div class="row blog-posts" *ngIf="homePage && !homePage.postsHidden">
    <div class="container">
        <div class="row" *ngIf="featuredPosts$">
            <ddw-admin-featured-blog-posts
                    class="col-md-4"
                    *ngFor="let postEl of featuredPosts$ | async"
                    [post]="postEl">
            </ddw-admin-featured-blog-posts>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5" *ngIf="homePage">
            <div class="col-md-4 offset-md-4 text-center">
                <a [href]="homePage.postsButtonURL" target="_blank" class="btn btn-warning btn-lg">
                    {{ homePage.postsButtonText }}
                </a>
            </div>
        </div>
    </div>
</div>

<!-- * Calendar * -->
<div class="row" *ngIf="homePage && homePage.hasCalendar">
    <div class="container">
        <div class="col-md-6 offset-md-3 text-center">
            <h2 class="card-sec-title">{{ homePage.calendarSectionTitle }}</h2>
        </div>
    </div>
</div>

<div class="row" *ngIf="homePage && homePage.hasCalendar">
    <div class="container-fluid">
        <ddw-admin-calendar-item
                *ngFor="let calEl of calendars$ | async"
                [calendar]="calEl">
        </ddw-admin-calendar-item>
    </div>
</div>

<!-- * On Demand Offer * -->
<div class="row on-demand-top" *ngIf="homePage && !homePage.onDemandHidden">
    <div class="container">
        <div class="col-md-6 offset-md-3 text-center">
            <h2 class="card-sec-title">{{ homePage.onDemandTitle }}</h2>
        </div>
    </div>
</div>

<div class="row on-demand-bottom" *ngIf="homePage && !homePage.onDemandHidden">
    <div class="container">
        <div [innerHTML]="homePage.onDemandText"></div>
    </div>
</div>
<div class="row purchase" *ngIf="homePage && !homePage.onDemandHidden">
    <div class="col-md-4 offset-md-4 text-center">
        <a [href]="homePage.onDemandButtonURL"
           target="_blank" class="btn btn-warning btn-lg">
            {{ homePage.onDemandButtonText }}
        </a>
    </div>
</div>


<!-- * DDW By The Numbers * -->
<div class="ddw-by-the-numbers" *ngIf="homePage && !homePage.byTheNumbersHidden">
    <div class="row">
        <div class="container">
            <div class="col-md-6 offset-md-3 text-center">
                <h2 class="by-nums-title card-sec-title">{{ homePage.byTheNumbersTitle }}</h2>
            </div>
        </div>
    </div>
    <div class="numbers text-center reverse contain-inner">
        <div class="HtmlContent">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p class="num"><b>{{ homePage.byTheNumbersOneNumber }}</b></p>
                        <p class="num-def">{{ homePage.byTheNumbersOneSubtitle }}</p>
                    </div>
                    <div class="col-md-4">
                        <p class="num"><b>{{ homePage.byTheNumbersTwoNumber }}</b></p>
                        <p class="num-def">{{ homePage.byTheNumbersTwoSubtitle }}</p>
                    </div>
                    <div class="col-md-4">
                        <p class="num"><b>{{ homePage.byTheNumbersThreeNumber }}</b></p>
                        <p class="num-def">{{ homePage.byTheNumbersThreeSubtitle }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- * Sponsoring Societies * -->
<div class="row sponsors" *ngIf="homePage && !homePage.sponsorHidden">
    <div class="container">
        <div class="text-center">
            <h2 class="by-nums-title card-sec-title">{{ homePage.sponsorTitle }}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center sponsor-images" *ngIf="homePage && !homePage.sponsorHidden">
        <div class="col-sm-3">
            <a [href]="homePage.sponsorOneURL">
                <img [src]="homePage.sponsorOneImg"
                     [alt]="homePage.sponsorOneImg"
                     class="sponsor-one img-fluid">
            </a>
        </div>
        <div class="col-sm-3">
            <a [href]="homePage.sponsorTwoURL">
                <img [src]="homePage.sponsorTwoImg"
                     [alt]="homePage.sponsorTwoImg"
                     class="sponsor-two img-fluid">
            </a>
        </div>
        <div class="col-sm-3">
            <a [href]="homePage.sponsorThreeURL">
                <img [src]="homePage.sponsorThreeImg"
                     [alt]="homePage.sponsorThreeImg"
                     class="sponsor-three img-fluid">
            </a>
        </div>
        <div class="col-sm-3">
            <a [href]="homePage.sponsorFourURL">
                <img [src]="homePage.sponsorFourImg"
                     [alt]="homePage.sponsorFourImg"
                     class="sponsor-four img-fluid">
            </a>
        </div>
    </div>
</div>

<!-- * AD Footerbar * -->
<div class="row" *ngIf="footerbar">
    <div class="container">
        <div class="text-center">
            <div [innerHTML]="footerbar | safeHtml" runScripts id="myAdSpace"></div>
        </div>
    </div>
</div>

<!-- * FOOTER * -->
<ddw-footer></ddw-footer>