service cloud.firestore {
  match /databases/{database}/documents {

    match /{ads=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{calColumnValues=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{calendar=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{cards=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{contactForm=**} {
      allow read, write;
    }

    match /{countdownDate=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{customLinks=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{dailyVideo=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{files=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{homePage=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{images=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{meta=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{pageCards=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{pages=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{posts=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{pressReleases=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{privacyPolicy=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{settings=**} {
      allow read;
      allow write: if isLoggedIn();
    }

    match /{users=**}  {
      allow read, write: if isLoggedIn();
    }



    //------ FUNCTIONS --------------------
    function isLoggedIn() {
      return request.auth != null;
    }

    function emailVerified() {
      return request.auth.token.email_verified;
    }



  } //END
}
