<!-- * PRESS-RELEASE-DETAILS * -->
<div *ngIf="pressRelease">
    <img [src]="banner"
         class="bannerPhotoURL">

    <div class="row">
        <div class="container">
            <h1 class="title">{{ pressReleaseTitle }}</h1>
        </div>
    </div>

    <!-- * AD Headerbar * -->
    <div class="row" *ngIf="headerbar">
        <div class="container">
            <div class="col-md-8 offset-md-2">
                <div class="text-center">
                    <div [innerHTML]="headerbar | safeHtml" ddwRunScripts id="AdSpace"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row crumbs">
        <div class="container-fluid body-container" style="max-width:1200px;">
            <ol class="breadcrumb pl-0">
                <li class="breadcrumb-item text-dark">
                    News /
                    <a [routerLink]="['/news/press-releases']"
                       class="text-capitalize bread text-decoration-none text-dark">
                        Press Releases
                    </a>
                </li>
                <li class="breadcrumb-item active text-dark">{{pressRelease.title}}</li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="container-fluid body-container" style="max-width:1200px;">
            <hr>
            <h3 class="press-title">{{ pressRelease.title}}</h3>
            <p class="text-light">
                <small>{{ pressRelease.publishOn | date:'fullDate' }}</small>
            </p>
            <p [innerHTML]="pressRelease.body | safeHtml"></p>

            <!-- * AD Footerbar * -->
            <div class="row" *ngIf="footerbar">
                <div class="container">
                    <div class="col-md-8 offset-md-2">
                        <div class="text-center">
                            <div [innerHTML]="footerbar | safeHtml" ddwRunScripts id="myAdSpace"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
