<!-- * ADMIN-CALENDAR-ITEM * -->
<div class="row">
    <div class="container-fluid" style="max-width:1200px;">
        <div class="col-md-12" style="padding-left:0;">
            <h2 style="margin-left:0;">{{ calendar.displayName }}</h2>
        </div>
    </div>
</div>

<!-- * Tabs * -->
<div class="row">
    <div class="container-fluid" style="max-width:1200px;">
        <ul class="nav nav-tabs nav-fill" id="calTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active"
                   id="date1-tab"
                   data-toggle="tab"
                   href="#date1"
                   role="tab"
                   aria-controls="date1"
                   aria-selected="true"
                   *ngIf="calendar.date1">{{ calendar.date1.toDate() | date:'LLLL dd' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   id="date2-tab"
                   data-toggle="tab"
                   href="#date2"
                   role="tab"
                   aria-controls="date2"
                   aria-selected="false"
                   *ngIf="calendar.date2">{{ calendar.date2.toDate() | date:'LLLL dd' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   id="date3-tab"
                   data-toggle="tab"
                   href="#date3"
                   role="tab"
                   aria-controls="date3"
                   aria-selected="false"
                   *ngIf="calendar.date3">{{ calendar.date3.toDate() | date:'LLLL dd' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   id="date4-tab"
                   data-toggle="tab"
                   href="#date4"
                   role="tab"
                   aria-controls="date4"
                   aria-selected="false"
                   *ngIf="calendar.date4">{{ calendar.date4.toDate() | date:'LLLL dd' }}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active"
                 id="date1"
                 role="tabpanel"
                 aria-labelledby="date1-tab"
                 *ngIf="calendar.date1">
                <h4 class="pt-5 pb-5 mb-3 pl-3"
                    *ngIf="calendar.date1 && calendar.body1">
                    <strong>{{ calendar.date1.toDate() | date:'EEEE' }}</strong>,
                    {{ month }}
                    {{ calendar.date1.toDate() | date:"dd" }},
                    {{ calendar.date1.toDate() | date:"yyyy" }}
                </h4>
                <div [innerHTML]="calendar.body1 | safeHtml" class="cal-content"></div>
            </div>
            <div class="tab-pane fade"
                 id="date2"
                 role="tabpanel"
                 aria-labelledby="date2-tab"
                 *ngIf="calendar.date2">
                <h4 class="pt-5 pb-5 mb-3 pl-3"
                    *ngIf="calendar.date2 && calendar.body2">
                    <strong>{{ calendar.date2.toDate() | date:'EEEE' }}</strong>,
                    {{ month2 }}
                    {{ calendar.date2.toDate() | date:"dd" }},
                    {{ calendar.date2.toDate() | date:"yyyy" }}
                </h4>
                <div [innerHTML]="calendar.body2 | safeHtml" class="cal-content"></div>
            </div>
            <div class="tab-pane fade"
                 id="date3"
                 role="tabpanel"
                 aria-labelledby="date3-tab"
                 *ngIf="calendar.date3">
                <h4 class="pt-5 pb-5 mb-3 pl-3"
                    *ngIf="calendar.date3 && calendar.body3">
                    <strong>{{ calendar.date3.toDate() | date:'EEEE' }}</strong>,
                    {{ month3 }}
                    {{ calendar.date3.toDate() | date:"dd" }},
                    {{ calendar.date3.toDate() | date:"yyyy" }}
                </h4>
                <div [innerHTML]="calendar.body3 | safeHtml" class="cal-content"></div>
            </div>
            <div class="tab-pane fade"
                 id="date4"
                 role="tabpanel"
                 aria-labelledby="date4-tab"
                 *ngIf="calendar.date4">
                <h4 class="pt-5 pb-5 mb-3 pl-3"
                    *ngIf="calendar.date4 && calendar.body4">
                    <strong>{{ calendar.date4.toDate() | date:'EEEE' }}</strong>,
                    {{ month4 }}
                    {{ calendar.date4.toDate() | date:"dd" }},
                    {{ calendar.date4.toDate() | date:"yyyy" }}
                </h4>
                <div [innerHTML]="calendar.body4 | safeHtml" class="cal-content"></div>
            </div>
        </div>
    </div>
</div>