/* Active Tab */
a[aria-selected=true] {
    background-color: #FEBE10 !important;
    border-radius: 0;
    padding-bottom: 0;
    height: 47px;
}

a[aria-selected=true]::after {
    display: block;
    content: "";
    background: #FEBE10;
    width: 25px;
    height: 25px;
    position: relative;
    left: 45%;
    bottom: 2px;
    transform: rotate(45deg);
    z-index: 1;
}

li.nav-item > a.nav-link {
    color: #004060;
}

li.nav-item:hover {
    background-color: #EBEBEB;
}

.cal-content {
    background-color: #fff;
}

a:link, a:link:active {
    color: #004060;
    text-decoration: none;
}

h4, p, li {
    font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
}

#calTab {
    border: 1px solid #EBEBEB;
}

.tab-content {
    border: 1px solid #EBEBEB;
    border-top: #fff;
}