<!-- * ADMIN-PAGE-DETAILS (PREVIEW) * -->
<!-- * If Regular Page * -->
<div *ngIf="page && !page.isExtURL" class="page-container" [@simpleFadeAnimation]="'in'">

    <div class="row">
        <img [src]="page.bannerPhotoURL" class="bannerPhotoURL">
        <div class="container">
            <h1 class="title">{{ page.title }}</h1>
        </div>
    </div>

    <div class="row crumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div class="text-capitalize text-decoration-none text-dark">{{ page.category }}</div>
                </li>
                <li class="breadcrumb-item text-capitalize text-dark" *ngIf="page.isGrandchildPage">
                    {{page.grandchildURL}}
                </li>
                <li class="breadcrumb-item active text-capitalize text-dark">{{page.title}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="image-container">
                <img [src]="page.photoURL"
                     class="photoURL">
            </div>

            <!-- * TEXT SECTIONS * -->
            <span [innerHTML]="page.body"
                  *ngIf="!page.contentSectionTop || !page.contentSectionBottom || !page.callToAction">
             </span>
            <!-- * Text Section Top * -->
            <span [innerHTML]="tsTopBody" *ngIf="tsTopBody && !page.body"></span>


            <!-- * Call To Action * -->
            <div class="row cta" *ngIf="cta && !page.body">
                <div class="row pt-3" *ngIf="cta.title || cta.subtitle">
                    <div class="col-md-10 text-center mx-auto">
                        <h2>{{ cta.title }}</h2>
                        <p>{{ cta.subtitle }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 cta-left col-media">
                        <iframe *ngIf="videoUrl"
                                allowfullscreen="allowfullscreen"
                                frameborder="0"
                                height="315"
                                width="446"
                                [src]="videoUrl">
                        </iframe>
                        <img [src]="imageUrl" *ngIf="imageUrl">

                    </div>

                    <div class="col-md-7 col-quote">
                        <span [innerHTML]="ctaBody"></span>

                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <a *ngIf="cta.buttonText && cta.buttonUrl && cta.isExtUrl"
                                   target="_blank"
                                   [href]="cta.buttonUrl"
                                   class="btn cta">
                                    {{ cta.buttonText }}
                                </a>
                                <a *ngIf="cta.buttonText && cta.buttonUrl && !cta.isExtUrl"
                                   [href]="cta.buttonUrl"
                                   class="btn cta">
                                    {{ cta.buttonText }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- * Text Section Bottom * -->
            <div [innerHTML]="tsBottomBody" *ngIf="tsBottomBody && !page.body"></div>


            <!-- * Calendar * -->
            <div *ngIf="page.hasCalendar">
                <div *ngFor="let calendar of calendar$ | async">
                    <!-- * ADMIN-CALENDAR-ITEM * -->
                    <div class="row">
                        <div class="col-md-12" style="padding-left:0;">
                            <h2 style="margin-left:0;">{{ calendar.displayName }}</h2>
                        </div>
                    </div>

                    <!-- * Tabs * -->
                    <div class="row">
                        <div style="max-width:1200px;">
                            <ul class="nav nav-tabs nav-fill" id="calTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       id="date1-tab"
                                       data-toggle="tab"
                                       href="#date1"
                                       role="tab"
                                       aria-controls="date1"
                                       aria-selected="true"
                                       *ngIf="calendar.date1">{{ calendar.date1.toDate() | date:'LLLL dd' }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       id="date2-tab"
                                       data-toggle="tab"
                                       href="#date2"
                                       role="tab"
                                       aria-controls="date2"
                                       aria-selected="false"
                                       *ngIf="calendar.date2">{{ calendar.date2.toDate() | date:'LLLL dd' }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       id="date3-tab"
                                       data-toggle="tab"
                                       href="#date3"
                                       role="tab"
                                       aria-controls="date3"
                                       aria-selected="false"
                                       *ngIf="calendar.date3">{{ calendar.date3.toDate() | date:'LLLL dd' }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       id="date4-tab"
                                       data-toggle="tab"
                                       href="#date4"
                                       role="tab"
                                       aria-controls="date4"
                                       aria-selected="false"
                                       *ngIf="calendar.date4">{{ calendar.date4.toDate() | date:'LLLL dd' }}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active"
                                     id="date1"
                                     role="tabpanel"
                                     aria-labelledby="date1-tab"
                                     *ngIf="calendar.date1">
                                    <h4 class="pt-5 pb-5 mb-3 pl-3"
                                        *ngIf="calendar.date1 && calendar.body1">
                                        <strong>{{ calendar.date1.toDate() | date:'EEEE' }}</strong>,
                                        {{ month }}
                                        {{ calendar.date1.toDate() | date:"dd" }},
                                        {{ calendar.date1.toDate() | date:"yyyy" }}
                                    </h4>
                                    <div [innerHTML]="calendar.body1 | safeHtml" class="cal-content"></div>
                                </div>
                                <div class="tab-pane fade"
                                     id="date2"
                                     role="tabpanel"
                                     aria-labelledby="date2-tab"
                                     *ngIf="calendar.date2">
                                    <h4 class="pt-5 pb-5 mb-3 pl-3"
                                        *ngIf="calendar.date2 && calendar.body2">
                                        <strong>{{ calendar.date2.toDate() | date:'EEEE' }}</strong>,
                                        {{ month2 }}
                                        {{ calendar.date2.toDate() | date:"dd" }},
                                        {{ calendar.date2.toDate() | date:"yyyy" }}
                                    </h4>
                                    <div [innerHTML]="calendar.body2 | safeHtml" class="cal-content"></div>
                                </div>
                                <div class="tab-pane fade"
                                     id="date3"
                                     role="tabpanel"
                                     aria-labelledby="date3-tab"
                                     *ngIf="calendar.date3">
                                    <h4 class="pt-5 pb-5 mb-3 pl-3"
                                        *ngIf="calendar.date3 && calendar.body3">
                                        <strong>{{ calendar.date3.toDate() | date:'EEEE' }}</strong>,
                                        {{ month3 }}
                                        {{ calendar.date3.toDate() | date:"dd" }},
                                        {{ calendar.date3.toDate() | date:"yyyy" }}
                                    </h4>
                                    <div [innerHTML]="calendar.body3 | safeHtml" class="cal-content"></div>
                                </div>
                                <div class="tab-pane fade"
                                     id="date4"
                                     role="tabpanel"
                                     aria-labelledby="date4-tab"
                                     *ngIf="calendar.date4">
                                    <h4 class="pt-5 pb-5 mb-3 pl-3"
                                        *ngIf="calendar.date4 && calendar.body4">
                                        <strong>{{ calendar.date4.toDate() | date:'EEEE' }}</strong>,
                                        {{ month4 }}
                                        {{ calendar.date4.toDate() | date:"dd" }},
                                        {{ calendar.date4.toDate() | date:"yyyy" }}
                                    </h4>
                                    <div [innerHTML]="calendar.body4 | safeHtml" class="cal-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- * Page Cards Section Title * -->
            <div class="row" *ngIf="page.cardSectionTitle">
                <div class="container">
                    <div class="col-md-12 text-center">
                        <h2 class="card-sec-title">{{ page.cardSectionTitle }}</h2>
                    </div>
                </div>
            </div>

            <!-- * Page Cards * -->
            <div class="row cards" *ngIf="page.hasCards">
                <div class="card-deck">
                    <div class="row">
                        <!-- * Card 1 * -->
                        <div class="card text-center mt-3 mb-3" *ngIf="pageCard1">
                            <img class="card-img-top"
                                 [src]="pageCard1.photoURL"
                                 [alt]="pageCard1.title">
                            <div class="card-body">
                                <h5 class="card-title">{{ pageCard1.title }}</h5>
                                <p class="card-text">{{ pageCard1.body }}</p>
                                <p class="text-center">
                                    <a [href]="pageCard1.url"
                                       class="btn btn-warning btn-lg">
                                        {{ pageCard1.buttonString }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- * Card 2 * -->
                        <div class="card text-center mt-3 mb-3" *ngIf="pageCard2">
                            <img class="card-img-top"
                                 [src]="pageCard2.photoURL"
                                 [alt]="pageCard2.title">
                            <div class="card-body">
                                <h5 class="card-title">{{ pageCard2.title }}</h5>
                                <p class="card-text">{{ pageCard2.body }}</p>
                                <p class="text-center">
                                    <a [href]="pageCard2.url"
                                       class="btn btn-warning btn-lg">
                                        {{ pageCard2.buttonString }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- * Card 3 * -->
                        <div class="card text-center mt-3 mb-3" *ngIf="pageCard3">
                            <img class="card-img-top"
                                 [src]="pageCard3.photoURL"
                                 [alt]="pageCard3.title">
                            <div class="card-body">
                                <h5 class="card-title">{{ pageCard3.title }}</h5>
                                <p class="card-text">{{ pageCard3.body }}</p>
                                <p class="text-center">
                                    <a [href]="pageCard3.url"
                                       class="btn btn-warning btn-lg">
                                        {{ pageCard3.buttonString }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- * If External Link * -->
<div *ngIf="page && page.isExtURL" [@simpleFadeAnimation]="'in'">
    <div class="row">
        <div class="container text-center">
            <div class="card mb-4 mt-5">
                <div class="card-body ext-link">
                    <h4 class="card-title">{{ page.title }}</h4>
                    <div class="card-subtitle text-muted mb-3">Created By: {{ page.author }}</div>
                    <p class="card-text">
                        URL: <span class="text-primary">{{ page.extURL }}</span> <br>
                        Sort Order Number: <span class="text-primary">{{ page.sortOrder }}</span>
                    </p>
                    <a [href]="page.extURL"
                       target="_blank"
                       class="btn btn-default">
                        Go To External Link
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- * Edit Options Sub-Navbar * -->
<div class="row">
    <div class="container">
        <!-- * Edit Navbar Panel * -->
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg fixed-bottom text-light" style="background-color: #1C202B;"
                 *ngIf="page">
                <a class="navbar-brand" href="#">
                    <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/gray-ddw-150.png" width="100"
                         class="d-inline-block align-top" alt="DDW">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-caret-square-down"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item text-capitalize">
                            <i class="fa fa-h1"></i> {{ page.title | slice:0:40 }}
                        </li>
                        <!--<li class="nav-item">-->
                        <!--<i class="fa fa-user"></i> {{ page.author }}-->
                        <!--</li>-->
                        <li class="nav-item text-capitalize">
                            <i class="fa fa-project-diagram"></i> {{ page.category }}
                        </li>
                    </ul>
                    <form class="form-inline mx-auto">
                        <div class="btn-group btn-group-sm float-right"
                             role="group"
                             aria-label="Basic example">
                            <a class="btn btn-primary"
                               [routerLink]="['/admin/pages']">
                                <i class="fal fa-arrow-circle-left"></i>&nbsp;All Pages
                            </a>
                            <a class="btn btn-secondary text-white"
                               [routerLink]="['edit']">
                                <i class="fa fa-pencil"></i>&nbsp;Edit
                            </a>
                            <a class="btn btn-warning"
                               [routerLink]="['/admin/pages']">
                                <i class="fa fa-undo"></i>&nbsp;Cancel
                            </a>
                            <button class="btn btn-danger"
                                    (click)="onDeletePage()">
                                <i class="fa fa-trash"></i>&nbsp;Delete
                            </button>
                        </div>
                    </form>
                </div>
            </nav>
        </div>

    </div>
</div>
