<!-- * ADMIN-PAGE-EDIT * -->
<div class="row">
    <div class="container">
        <div class="row mb-4">
            <a class="text-primary back-pages"
               [routerLink]="['/admin/pages']"><i class="fal fa-arrow-circle-left"></i>&nbsp;All Pages
            </a>
        </div>
    </div>
</div>

<div class="container mb-3" *ngIf="!isExtURL">
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
            <div class="card bg-light text-light text-center">
                <div class="card-body p-3">
                    <label class="switcher switcher-md">
                        <input type="checkbox" class="switcher-input">
                        <span class="switcher-indicator" (click)="onTogglePagePreview()">
                        <span class="switcher-yes">
                            <i class="fa fa-check"></i>
                        </span>
                        <span class="switcher-no">
                            <i class="fa fa-times"></i>
                        </span>
                        </span>
                        <span class="switcher-label">Toggle Preview</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5" [@simpleFadeAnimation]="'in'">
    <div class="row">
        <div class="col" *ngIf="page">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Edit: <b>{{ page.title }}</b></h2>
                    </div>

                    <form [formGroup]="editPageForm"
                          (ngSubmit)="onUpdatePage(editPageForm.value)">
                        <button type="submit"
                                [disabled]="!editPageForm.valid"
                                class="btn btn-primary btn-sm mb-5"><i class="fa fa-save"></i>&nbsp;Update
                        </button>

                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                            <a class="btn btn-warning btn-sm"
                               [routerLink]="['/admin/pages']">
                                <i class="fa fa-undo"></i>&nbsp;Cancel
                            </a>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.title.valid && f.title.touched"
                                   [(ngModel)]="page.title"
                                   formControlName="title">
                            <p class="help-block alert invalid-tooltip text-center mt-1"
                               *ngIf="!f.title.valid && f.title.touched">
                                Valid <b>Title</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="isExtURL"
                                       formControlName="isExtURL">
                                <label class="custom-control-label"
                                       for="isExtURL">Is this an external URL?</label>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="isExtURL">
                            <label>External URL</label>
                            <input type="url"
                                   class="form-control"
                                   [class.invalid]="!f.extURL.valid && f.extURL.touched"
                                   formControlName="extURL">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.extURL.valid && f.extURL.touched">
                                <b>External URL</b> is invalid!
                            </p>
                        </div>


                        <div class="form-group" *ngIf="!isExtURL">
                            <label>Slug</label>
                            <pre class="alert bg-light text-secondary slug">/{{category}}/{{url}}</pre>
                        </div>


                        <div class="form-group" *ngIf="!isExtURL">
                            <label>Body</label>
                            <ckeditor [formControl]="editPageForm.controls['body']"
                                      [class.invalid]="!f.body.valid && f.body.touched"
                                      [(ngModel)]="page.body"
                                      [readonly]="false"
                                      [config]="CkeditorConfig"
                                      debounce="500">
                            </ckeditor>
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.body.valid && f.body.touched">
                                The <b>Body</b> with at least 100 characters is required!
                            </p>
                        </div>

                        <div class="form-group" *ngIf="!isExtURL">
                            <label>Author</label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.author.valid && f.author.touched"
                                   [(ngModel)]="author"
                                   formControlName="author">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.author.valid && f.author.touched">
                                <b>Author</b> is required!
                            </p>
                        </div>


                        <div class="form-group">
                            <label>Publish On
                                <small>(Click input for datepicker)</small>
                            </label>
                            <input type="string"
                                   class="form-control"
                                   bsDatepicker
                                   [bsConfig]="bsConfig"
                                   placement="bottom"
                                   [class.invalid]="!f.date.valid && f.date.touched"
                                   formControlName="date">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.date.valid && f.date.touched">
                                <b>Date</b> is required!
                            </p>
                        </div>


                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control"
                                    id="category"
                                    [class.invalid]="!f.category.valid && f.category.touched"
                                    [(ngModel)]="page.category"
                                    formControlName="category">
                                <option>register</option>
                                <option>attendee-planning</option>
                                <option>education</option>
                                <option>exhibitor-information</option>
                                <option>news-and-media</option>
                                <option>presenters</option>
                            </select>
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.category.valid && f.category.touched">
                                <b>Category</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="category">Sort Order <br>
                                <small>Order shown in navbar dropdown category</small>
                            </label>
                            <select class="form-control"
                                    id="sortOrder"
                                    [class.invalid]="!f.sortOrder.valid && f.sortOrder.touched"
                                    formControlName="sortOrder">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                        </div>

                        <div class="form-group" *ngIf="!isExtURL">
                            <label for="category">Template</label>
                            <select class="form-control"
                                    id="template"
                                    [class.invalid]="!f.template.valid && f.template.touched"
                                    [(ngModel)]="page.template"
                                    formControlName="template">
                                <option>Full Width</option>
                                <option>3 Column Bottom</option>
                                <option>3 Column Top</option>
                                <option>Blog Post</option>
                            </select>
                        </div>


                        <div class="form-group" *ngIf="!isExtURL">
                            <div class="card image-uploader">
                                <div class="card-body">
                                    <p class="card-title">
                                        Image Uploader
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="custom-file">
                                                <label class="custom-file-label" *ngIf="!downloadURL">
                                                    Click To Select
                                                </label>
                                                <label class="custom-file-label text-truncate" *ngIf="downloadURL">
                                                    {{ downloadURL | async }}
                                                </label>
                                                <input type="file"
                                                       ddwDropZone
                                                       class="custom-file-input"
                                                       accept=".png, .jpg, jpeg"
                                                       (change)="uploadImage($event)">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div *ngIf="downloadURL | async as url; else loadingURL">
                                                <p class="pb-2">
                                                    <b>Copy and paste url into the Image URL input below:</b>
                                                </p>
                                                <p>
                                                    <a [href]="url">
                                                        {{ url }}
                                                    </a>
                                                </p>
                                                <p><img [src]="url" style="max-width:100px;"></p>
                                            </div>
                                            <ng-template #loadingURL>
                                                <p class="text-center text-light">
                                                    Upload Image, Then a URL will appear here. Copy and paste that link
                                                    into Image URL below to use.
                                                </p>
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="mt-4 mb-3" *ngIf="percentage | async as pct">
                                        <progressbar class="progress-striped active"
                                                     [value]="pct"
                                                     type="primary"><i>{{ pct | number }}%</i>
                                        </progressbar>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" *ngIf="!isExtURL">
                            <label>Banner Image URL
                                <small>(Top banner image)</small>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.bannerPhotoURL.valid && f.bannerPhotoURL.touched"
                                   [(ngModel)]="bannerPhotoURL"
                                   formControlName="bannerPhotoURL">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.bannerPhotoURL.valid && f.bannerPhotoURL.touched">
                                <b>Banner Image URL</b> is required!
                            </p>
                        </div>

                        <div class="form-group" *ngIf="!isExtURL">
                            <label>Image URL
                                <small>(Image on the page)</small>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.photoURL.valid && f.photoURL.touched"
                                   [(ngModel)]="photoURL"
                                   formControlName="photoURL">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.photoURL.valid && f.photoURL.touched">
                                <b>Image URL</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="published"
                                       formControlName="published">
                                <label class="custom-control-label"
                                       for="published">Publish?</label>
                            </div>
                        </div>


                        <button type="submit"
                                [disabled]="!editPageForm.valid"
                                class="btn btn-primary btn-sm mb-5">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>

                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                            <a class="btn btn-warning btn-sm"
                               [routerLink]="['/admin/pages']">
                                <i class="fa fa-undo"></i>&nbsp;Cancel
                            </a>
                        </div>

                        <!-- * Debugging * -->
                        <!--<code>-->
                        <!--<pre>Form value: {{ editPageForm.value | json }}</pre>-->
                        <!--</code>-->
                        <!--<code>-->
                        <!--<pre>Form value: {{ editPageForm.status | json }}</pre>-->
                        <!--</code>-->

                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-6" *ngIf="page && togglePagePreview && !isExtURL" [@simpleFadeAnimation]="'in'">
            <div class="card">
                <img [src]="page.bannerPhotoURL" class="bannerPhotoURL">

                <div class="container">
                    <h1 class="title">{{ page.title }}</h1>
                </div>

                <div class="row crumbs">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a [routerLink]="['/home']">Register</a>
                            </li>
                            <li class="breadcrumb-item active">{{page.title}}</li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="container">
                        <img [src]="page.photoURL"
                             class="photoURL">
                        <div [innerHTML]="page.body | safeHtml" class="preview-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>