<!-- * ADMIN-PAGE-EDIT * -->
<div class="row">
    <div class="container">
        <div class="row mb-4">
            <a class="text-primary back-pages"
               [routerLink]="['/admin/pages']"><i class="fal fa-arrow-circle-left"></i>&nbsp;All Pages
            </a>
        </div>
    </div>
</div>

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-6" *ngIf="page">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Edit <b><i>{{ page.title }}</i></b></h2>
                    </div>

                    <form [formGroup]="editPageForm"
                          (ngSubmit)="onUpdatePage(editPageForm.value)">
                        <button type="submit"
                                [disabled]="!editPageForm.valid"
                                class="btn btn-primary btn-sm mb-5"><i class="fa fa-save"></i>&nbsp;Update
                        </button>

                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                            <a class="btn btn-warning btn-sm"
                               [routerLink]="['/admin/pages']">
                                <i class="fa fa-undo"></i>&nbsp;Cancel
                            </a>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.title.valid && f.title.touched"
                                   [(ngModel)]="page.title"
                                   formControlName="title">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.title.valid && f.title.touched">
                                Valid <b>Title</b> is required!
                            </p>
                        </div>


                        <div class="form-group">
                            <label>Body</label>
                            <ckeditor formControlName="body"
                                      [class.invalid]="!f.body.valid && f.body.touched"
                                      [(ngModel)]="page.body"
                                      [readonly]="false"
                                      debounce="500">
                            </ckeditor>
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.body.valid && f.body.touched">
                                The <b>Body</b> with at least 100 characters is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Author</label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.author.valid && f.author.touched"
                                   [(ngModel)]="page.author"
                                   formControlName="author">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.author.valid && f.author.touched">
                                <b>Author</b> is required!
                            </p>
                        </div>


                        <div class="form-group">
                            <label>Publish On
                                <small>(Click input for datepicker)</small>
                            </label>
                            <input type="string"
                                   class="form-control"
                                   bsDatepicker
                                   [class.invalid]="!f.date.valid && f.date.touched"
                                   formControlName="date">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.date.valid && f.date.touched">
                                <b>Date</b> is required!
                            </p>
                        </div>


                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control"
                                    id="category"
                                    [class.invalid]="!f.category.valid && f.category.touched"
                                    [(ngModel)]="page.category"
                                    formControlName="category">
                                <option>Register</option>
                                <option>Attendee Planning</option>
                                <option>Education</option>
                                <option>Exhibitor Information</option>
                                <option>News &amp;amp; Media</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="category">Template</label>
                            <select class="form-control"
                                    id="template"
                                    [class.invalid]="!f.template.valid && f.template.touched"
                                    [(ngModel)]="page.template"
                                    formControlName="template">
                                <option>Full Width</option>
                                <option>3 Column Bottom</option>
                                <option>3 Column Top</option>
                                <option>Blog Post</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">
                                        Image Uploader
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="custom-file">
                                                <label class="custom-file-label" *ngIf="!downloadURL">
                                                    Click To Select
                                                </label>
                                                <label class="custom-file-label text-truncate" *ngIf="downloadURL">
                                                    {{ downloadURL | async }}
                                                </label>
                                                <input type="file"
                                                       ddwDropZone
                                                       class="custom-file-input"
                                                       accept=".png, .jpg, jpeg"
                                                       (change)="uploadImage($event)">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div *ngIf="downloadURL | async as url; else loadingURL">
                                                <p class="pb-2">
                                                    <b>Copy and paste url into the Image URL input below:</b>
                                                </p>
                                                <p>
                                                    <a [href]="url">
                                                        {{ url }}
                                                    </a>
                                                </p>
                                                <p><img [src]="url" style="max-width:100px;"></p>
                                            </div>
                                            <ng-template #loadingURL>
                                                <p class="text-center text-light">
                                                    Upload Image, Then a URL will appear here. Copy and paste that link
                                                    into Image URL below to use.
                                                </p>
                                            </ng-template>
                                        </div>
                                    </div>

                                    <div class="mt-4 mb-3" *ngIf="percentage | async as pct">
                                        <progressbar class="progress-striped active"
                                                     [value]="pct"
                                                     type="primary"><i>{{ pct | number }}%</i>
                                        </progressbar>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Image URL</label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.photoURL.valid && f.photoURL.touched"
                                   [(ngModel)]="photoURL"
                                   formControlName="photoURL">
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.photoURL.valid && f.photoURL.touched">
                                <b>Image URL</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="published"
                                       formControlName="published">
                                <label class="custom-control-label"
                                       for="published">Publish?</label>
                            </div>
                        </div>


                        <button type="submit"
                                [disabled]="!editPageForm.valid"
                                class="btn btn-primary btn-sm mb-5">
                            <i class="fa fa-save"></i>&nbsp;Update
                        </button>

                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                            <a class="btn btn-warning btn-sm"
                               [routerLink]="['/admin/pages']">
                                <i class="fa fa-undo"></i>&nbsp;Cancel
                            </a>
                        </div>

                        <!-- * Debugging * -->
                        <!--<code>-->
                        <!--<pre>Form value: {{ editPageForm.value | json }}</pre>-->
                        <!--</code>-->
                        <!--<code>-->
                        <!--<pre>Form value: {{ editPageForm.status | json }}</pre>-->
                        <!--</code>-->

                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-6" *ngIf="page">
            <div class="card">
                <img class="card-img-top img-fluid" [src]="page.photoURL" [alt]="page.title">
                <div class="card-body">
                    <h5 class="card-title">{{ page.title }}</h5>
                    <p class="card-text">
                        {{ page.author }} <br>
                        Categories: {{ page.category }} <br>
                        Body: <br>
                    </p>
                    <div [innerHTML]="page.body"></div>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Publish Date: {{ page.date.toDate() | date:'fullDate' }}</small>
                </div>
            </div>
        </div>

    </div>

</div>