/* Global Admin Styles */
p, div, tr, th, tr, td, span, ul, ol, li, input.form-control, input[text], input[textarea], select {
    font-size: 14px !important;
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif !important;
    line-height: 1;

}

.image-uploader * {
    font-size: 14px;
}

form * {
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif;
}

.bg-dark {
    background-color: #282E3E !important;
}

button[mat-fab] {
    /*background-color: #1C202B;*/
    background-color: #1C202B;
    margin: 5em 0 0 0;
    border: 3px solid #9d9fa1;
    /*border: 3px solid #1C202B;*/
    position: fixed;
    z-index: 3000;
}

i.fa-arrow-alt-circle-left,
i.fa-arrow-alt-circle-right {
    color: #9d9fa1;
    /*padding-bottom: 8px;*/
    /*padding-left: 3px;*/
    font-size: 2.3em;
    /*padding: 0 0 4em 0.2em;*/
    /*margin: 3em 0 0 0;*/
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.4);*/
    cursor: pointer;
    /*position: fixed;*/
    /*z-index: 3000;*/
}

/* Mobile Queries */

/* Display on anything 992px and larger */
@media (min-width: 992px) {
    nav#layout-navbar, button[mat-mini-fab] {
        display: block;
    }

    nav.navbar.navbar-footer {
        display: none;
    }
}

/* Small devices (landscape phones, 991px and below) */
@media (max-width: 991px) {
    nav#layout-navbar, button[mat-fab] {
        display: none;
    }

    nav.navbar.navbar-footer {
        display: block;
    }
}