<!-- * ADMIN * -->
<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
    <div class="layout-inner">
        <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">
            <ddw-admin-sidenav></ddw-admin-sidenav>
        </div>

        <div class="layout-container">
            <!-- * Navbar * -->
            <ddw-admin-navbar></ddw-admin-navbar>
            <!-- * App Container * -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

