/* Global Admin Styles */
p, div, tr, th, tr, td, span, input.form-control {
    font-size: 14px;
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif;

}

.bg-dark {
    background-color: #282E3E !important;
}


button[mat-mini-fab] {
    background-color: #1C202B;
    margin: 0.5em 0 0 1em;
    border: 3px solid #9d9fa1;
}

i.fa-chevron-double-left,
i.fa-chevron-double-right {
    color: #9d9fa1;
    padding-bottom: 8px;
}

/* Mobile Queries */

/* Display on anything 992px and larger */
@media (min-width: 992px) {
    nav#layout-navbar, button[mat-mini-fab] {
        display: block;
    }

    nav.navbar.navbar-footer {
        display: none;
    }
}

/* Small devices (landscape phones, 991px and below) */
@media (max-width: 991px) {
    nav#layout-navbar, button[mat-mini-fab] {
        display: none;
    }

    nav.navbar.navbar-footer {
        display: block;
    }
}