<!-- * ADMIN * -->
<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
    <div class="layout-inner">
        <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark" style="background-color:#282E3E;" *ngIf="toggleSidenav">
            <ddw-admin-sidenav></ddw-admin-sidenav>
        </div>

        <div class="layout-container">
            <!-- * Navbar * -->
            <ddw-admin-navbar></ddw-admin-navbar>
            <!-- * App Container * -->
            <button mat-mini-fab (click)="onToggleSidenav()">
                <i class="fa"
                   [ngClass]="{'fa-chevron-double-left':toggleSidenav,
                   'fa-chevron-double-right':!toggleSidenav}">
                </i>
            </button>
            <flash-messages class="text-center"></flash-messages>
            <router-outlet></router-outlet>
            <ddw-admin-mobile-footernav></ddw-admin-mobile-footernav>
        </div>
    </div>
</div>

