<!-- * ADMIN-PAGE-NEW * -->
<div class="row mb-4">
    <div class="container">
        <div class="col-md-12">
            <a class="btn btn-default"
               [routerLink]="['/admin/pages']"><i class="fal fa-arrow-circle-left"></i>&nbsp;All Pages
            </a>
        </div>
    </div>
</div>

<div class="container new-page">
    <div class="col-md-12">
        <div class="card mb-5">
            <div class="card-body">
                <div class="card-title">
                    <h2>New Page</h2>
                </div>

                <form [formGroup]="newPageForm"
                      (ngSubmit)="onAddNewPage(newPageForm.value)">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text"
                               class="form-control"
                               [class.invalid]="!f.title.valid && f.title.touched"
                               formControlName="title">
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.title.valid && f.title.touched">
                            <b>Title</b> is required!
                        </p>
                    </div>


                    <div class="card bg-lighter mb-3">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="isExtURL"
                                           formControlName="isExtURL"
                                           (click)="isExtURLToggle()">
                                    <label class="custom-control-label"
                                           for="isExtURL">Is this an external URL?</label>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="isExtURL">
                                <label>External URL <br>
                                    <p class="alert alert-info">All values are needed if this is an external URL!</p>
                                </label>
                                <input type="url"
                                       class="form-control"
                                       placeholder="https://"
                                       [class.invalid]="!f.extURL.valid && f.extURL.touched"
                                       formControlName="extURL">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f.extURL.valid && f.extURL.touched">
                                    <b>External URL</b> is invalid!
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Author</label>
                        <input type="text"
                               class="form-control"
                               [class.invalid]="!f.author.valid && f.author.touched"
                               formControlName="author">
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.author.valid && f.author.touched">
                            <b>Author</b> is required!
                        </p>
                    </div>


                    <div class="form-group">
                        <label for="date">Publish On</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   id="date"
                                   bsDatepicker
                                   [bsConfig]="bsConfig"
                                   placement="bottom"
                                   [class.invalid]="!f.date.valid && f.date.touched"
                                   formControlName="date">
                        </div>
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.date.valid && f.date.touched">
                            <b>Date</b> is required!
                        </p>
                    </div>


                    <!--<div class="form-group">-->
                    <!--<label>Publish On</label>-->
                    <!--<input type="string"-->
                    <!--class="form-control"-->
                    <!--bsDatepicker-->
                    <!--[bsConfig]="bsConfig"-->
                    <!--placement="bottom"-->
                    <!--[class.invalid]="!f.date.valid && f.date.touched"-->
                    <!--formControlName="date">-->
                    <!--<p class="help-block alert alert-warning text-center mt-1"-->
                    <!--*ngIf="!f.date.valid && f.date.touched">-->
                    <!--<b>Date</b> is required!-->
                    <!--</p>-->
                    <!--</div>-->


                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control"
                                id="category"
                                [class.invalid]="!f.category.valid && f.category.touched"
                                formControlName="category">
                            <option>register</option>
                            <option>attendee-planning</option>
                            <option>education</option>
                            <option>exhibitor-information</option>
                            <option>news</option>
                            <option>presenters</option>
                        </select>
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.category.valid && f.category.touched">
                            <b>Category</b> is required!
                        </p>
                    </div>


                    <div class="form-group">
                        <label for="sortOrder">Sort Order <br>
                            <small>Order shown in navbar dropdown category</small>
                        </label>
                        <select class="form-control"
                                id="sortOrder"
                                [class.invalid]="!f.sortOrder.valid && f.sortOrder.touched"
                                formControlName="sortOrder">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="!isExtURL">
                        <label for="template">Template</label>
                        <select class="form-control"
                                id="template"
                                [class.invalid]="!f.template.valid && f.template.touched"
                                formControlName="template">
                            <option>Full Width</option>
                            <option>3 Column Bottom</option>
                            <option>3 Column Top</option>
                            <option>Blog Post</option>
                        </select>
                    </div>


                    <div class="card bg-lighter mb-3" *ngIf="!isExtURL">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="hasCalendar"
                                           formControlName="hasCalendar"
                                           (click)="toggleHasCalendar()">
                                    <label class="custom-control-label"
                                           for="hasCalendar">Does the page have a Calendar?</label>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="hasCalendar">
                                <label for="calendarTitle">Select Calendar or
                                    <a [routerLink]="['/admin/calendar/new']" class="btn btn-sm btn-default">
                                        <i class="fa fa-calendar-plus"></i>  Create New</a>
                                </label>
                                <select class="form-control"
                                        id="calendarTitle"
                                        formControlName="calendarTitle">
                                    <option *ngFor="let cal of calendar$ | async">
                                        {{ cal.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="!isExtURL">
                        <label>Body</label>
                        <ckeditor [formControl]="newPageForm.controls['body']"
                                  [config]="CkeditorConfig"
                                  [class.invalid]="!f.body.valid && f.body.touched"
                                  [readonly]="false"
                                  debounce="500">
                        </ckeditor>
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.body.valid && f.body.touched">
                            The <b>Body</b> with at least 100 characters is required!
                        </p>
                    </div>

                    <div class="form-group" *ngIf="!isExtURL">
                        <div class="card image-uploader">
                            <div class="card-body">
                                <p class="card-title">
                                    Image Uploader
                                </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="custom-file">
                                            <label class="custom-file-label" *ngIf="!downloadURL">
                                                Click To Select
                                            </label>
                                            <label class="custom-file-label text-truncate" *ngIf="downloadURL">
                                                {{ downloadURL | async }}
                                            </label>
                                            <input type="file"
                                                   ddwDropZone
                                                   class="custom-file-input"
                                                   accept=".png, .jpg, jpeg"
                                                   (change)="uploadImage($event)">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div *ngIf="downloadURL | async as url; else loadingURL">
                                            <p class="pb-2">
                                                <b>Copy and paste url into the Image URL input below:</b>
                                            </p>
                                            <p>
                                                <a [href]="url">
                                                    {{ url }}
                                                </a>
                                            </p>
                                            <p><img [src]="url" style="max-width:100px;"></p>
                                        </div>
                                        <ng-template #loadingURL>
                                            <p class="text-center text-light">
                                                Upload Image, Then a URL will appear here. Copy and paste that link
                                                into Image URL below to use.
                                            </p>
                                        </ng-template>
                                    </div>
                                </div>


                                <div class="mt-4 mb-3" *ngIf="percentage | async as pct">
                                    <progressbar class="progress-striped active"
                                                 [value]="pct"
                                                 type="primary"><i>Image Upload {{ pct | number }}%</i>
                                    </progressbar>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group" *ngIf="!isExtURL">
                        <label>Banner Image URL
                            <small>(Top banner image)</small>
                        </label>
                        <input type="text"
                               class="form-control"
                               [class.invalid]="!f.bannerPhotoURL.valid && f.bannerPhotoURL.touched"
                               [(ngModel)]="bannerPhotoURL"
                               formControlName="bannerPhotoURL">
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.bannerPhotoURL.valid && f.bannerPhotoURL.touched">
                            <b>Banner Image URL</b> is required!
                        </p>
                    </div>

                    <div class="form-group" *ngIf="!isExtURL">
                        <label>Image URL
                            <small>(Image on the page)</small>
                        </label>
                        <input type="text"
                               class="form-control"
                               [class.invalid]="!f.photoURL.valid && f.photoURL.touched"
                               [(ngModel)]="photoURL"
                               formControlName="photoURL">
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.photoURL.valid && f.photoURL.touched">
                            <b>Image URL</b> May be required, depending on the template.
                        </p>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="published"
                                   formControlName="published">
                            <label class="custom-control-label"
                                   for="published">Publish?</label>
                        </div>
                    </div>

                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <a class="btn btn-warning btn-sm"
                           [routerLink]="['/admin/pages']">
                            <i class="fa fa-undo"></i>&nbsp;Cancel
                        </a>
                    </div>

                    <button type="submit"
                            class="btn btn-primary btn-sm mb-5">
                        <i class="fa fa-file-plus"></i>&nbsp;Create
                    </button>

                    <!-- * Debugging * -->
                    <!--<code>-->
                    <!--<pre>Form value: {{ newPageForm.value | json }}</pre>-->
                    <!--</code>-->
                    <!--<code>-->
                    <!--<pre>Form value: {{ newPageForm.status | json }}</pre>-->
                    <!--</code>-->

                </form>
            </div>
        </div>
    </div>


</div>
