<!-- * ADMIN-PAGE-NEW * -->
<div class="row mb-4">
    <div class="container">
        <a class="text-primary back-pages"
           [routerLink]="['/admin/pages']"><i class="fal fa-arrow-circle-left"></i>&nbsp;All Pages
        </a>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>New Page</h2>
                </div>

                <form [formGroup]="newPageForm"
                      (ngSubmit)="onAddNewPage(newPageForm.value)">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text"
                               class="form-control"
                               [class.invalid]="!f.title.valid && f.title.touched"
                               formControlName="title">
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.title.valid && f.title.touched">
                            Valid <b>Title</b> is required!
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Author</label>
                        <input type="text"
                               class="form-control"
                               [class.invalid]="!f.author.valid && f.author.touched"
                               formControlName="author">
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.author.valid && f.author.touched">
                            <b>Author</b> is required!
                        </p>
                    </div>


                    <div class="form-group">
                        <label>Publish On</label>
                        <input type="string"
                               class="form-control"
                               bsDatepicker
                               [class.invalid]="!f.date.valid && f.date.touched"
                               formControlName="date">
                    </div>


                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control"
                                id="category"
                                [class.invalid]="!f.category.valid && f.category.touched"
                                formControlName="category">
                            <option>Register</option>
                            <option>Attendee Planning</option>
                            <option>Education</option>
                            <option>Exhibitor Information</option>
                            <option>News &amp; Media</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="category">Template</label>
                        <select class="form-control"
                                id="template"
                                [class.invalid]="!f.template.valid && f.template.touched"
                                formControlName="template">
                            <option>Full Width</option>
                            <option>3 Column Bottom</option>
                            <option>3 Column Top</option>
                            <option>Blog Post</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Body</label>
                        <ckeditor formControlName="body"
                                  [readonly]="false"
                                  debounce="500">
                        </ckeditor>
                        <!--<textarea class="form-control"-->
                        <!--rows="10"-->
                        <!--formControlName="body">-->
                        <!--</textarea>-->
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.body.valid && f.body.touched">
                            The <b>Body</b> with at least 100 characters is required!
                        </p>
                    </div>

                    <div class="form-group">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    Image Uploader
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="custom-file">
                                            <label class="custom-file-label" *ngIf="!downloadURL">
                                                Click To Select
                                            </label>
                                            <label class="custom-file-label text-truncate" *ngIf="downloadURL">
                                                {{ downloadURL | async }}
                                            </label>
                                            <input type="file"
                                                   ddwDropZone
                                                   class="custom-file-input"
                                                   accept=".png, .jpg, jpeg"
                                                   (change)="uploadImage($event)">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div *ngIf="downloadURL | async as url; else loadingURL">
                                            <p class="pb-2">
                                                <b>Copy and paste url into the Image URL input below:</b>
                                            </p>
                                            <p>
                                                <a [href]="url">
                                                    {{ url }}
                                                </a>
                                            </p>
                                            <p><img [src]="url" style="max-width:100px;"></p>
                                        </div>
                                        <ng-template #loadingURL>
                                            <p class="text-center text-secondary">
                                                Upload Image, Then a URL will appear here. Copy and paste that link
                                                into Image URL below to use.
                                            </p>
                                        </ng-template>
                                    </div>
                                </div>

                                <div class="mt-4 mb-3" *ngIf="percentage | async as pct">
                                    <mat-progress-bar
                                            mode="determinate"
                                            [color]="color"
                                            [value]="pct">
                                    </mat-progress-bar>
                                    Image download: {{ pct | number }}%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Image URL</label>
                        <input type="text"
                               class="form-control"
                               [class.invalid]="!f.photoURL.valid && f.photoURL.touched"
                               [(ngModel)]="photoURL"
                               formControlName="photoURL">
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.photoURL.valid && f.photoURL.touched">
                            <b>Image URL</b> is required!
                        </p>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="published"
                                   formControlName="published">
                            <label class="custom-control-label"
                                   for="published">Publish?</label>
                        </div>
                    </div>

                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <a class="btn btn-warning btn-sm"
                           [routerLink]="['/admin/pages']">
                            <i class="fa fa-undo"></i>&nbsp;Cancel
                        </a>
                    </div>

                    <button type="submit"
                            [disabled]="!newPageForm.valid"
                            class="btn btn-primary btn-sm mb-5">
                        <i class="fa fa-file-plus"></i>&nbsp;Create
                    </button>

                    <!-- * Debugging * -->
                    <!--<code>-->
                    <!--<pre>Form value: {{ newPageForm.value | json }}</pre>-->
                    <!--</code>-->
                    <!--<code>-->
                    <!--<pre>Form value: {{ newPageForm.status | json }}</pre>-->
                    <!--</code>-->

                </form>
            </div>
        </div>
    </div>


</div>
