<!-- * EXHIBITOR-INFORMATION-PAGE * -->
<ddw-pages-navbar></ddw-pages-navbar>

<div *ngIf="page">
    <img [src]="page.bannerPhotoURL" class="bannerPhotoURL">

    <div class="container">
        <h1 class="title">{{ page.title }}</h1>
    </div>

    <!-- * AD Headerbar * -->
    <div class="row" *ngIf="headerbar">
        <div class="container">
            <div class="text-center">
                <div [innerHTML]="headerbar | safeHtml" runScripts id="AdSpace"></div>
            </div>
        </div>
    </div>

    <div class="row crumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div class="text-capitalize text-decoration-none text-dark">
                        {{ page.category }}
                    </div>
                </li>
                <li class="breadcrumb-item text-capitalize text-dark" *ngIf="page.isGrandchildPage">
                    {{page.grandchildURL}}
                </li>
                <li class="breadcrumb-item active text-dark">
                    {{page.title}}
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid body-container">
            <img [src]="page.photoURL"
                 class="photoURL">
            <div [innerHTML]="page.body | safeHtml"></div>
        </div>
    </div>

    <div class="row" *ngIf="page.hasCalendar">
        <div class="container-fluid">
            <ddw-admin-calendar-item
                    *ngFor="let calEl of calendar$ | async"
                    [calendar]="calEl">
            </ddw-admin-calendar-item>
        </div>
    </div>


    <div class="row" *ngIf="page.hasCards && page.cardSectionTitle">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="card-sec-title">{{ page.cardSectionTitle }}</h2>
            </div>
        </div>
    </div>

    <div class="row cards" *ngIf="page.hasCards">
        <div class="container">
            <div class="card-deck">
                <div class="row">
                    <!-- * Card 1 * -->
                    <div class="card text-center mt-3 mb-3" *ngIf="pageCard1">
                        <img class="card-img-top"
                             [src]="pageCard1.photoURL"
                             [alt]="pageCard1.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard1.title }}</h5>
                            <p class="card-text">{{ pageCard1.body }}</p>
                            <p class="text-center">
                                <a [routerLink]="pageCard1.url"
                                   class="btn btn-warning btn-lg"
                                   *ngIf="!pageCard1.isExtURL">
                                    {{ pageCard1.buttonString }}
                                </a>
                                <a [href]="pageCard1.url"
                                   class="btn btn-warning btn-lg"
                                   target="_blank"
                                   *ngIf="pageCard1.isExtURL">
                                    {{ pageCard1.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- * Card 2 * -->
                    <div class="card text-center mt-3 mb-3" *ngIf="pageCard2">
                        <img class="card-img-top"
                             [src]="pageCard2.photoURL"
                             [alt]="pageCard2.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard2.title }}</h5>
                            <p class="card-text">{{ pageCard2.body }}</p>
                            <p class="text-center">
                                <a [routerLink]="pageCard2.url"
                                   class="btn btn-warning btn-lg"
                                   *ngIf="!pageCard2.isExtURL">
                                    {{ pageCard2.buttonString }}
                                </a>
                                <a [href]="pageCard2.url"
                                   class="btn btn-warning btn-lg"
                                   target="_blank"
                                   *ngIf="pageCard2.isExtURL">
                                    {{ pageCard2.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- * Card 3 * -->
                    <div class="card text-center mt-3 mb-3" *ngIf="pageCard3">
                        <img class="card-img-top"
                             [src]="pageCard3.photoURL"
                             [alt]="pageCard3.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard3.title }}</h5>
                            <p class="card-text">{{ pageCard3.body }}</p>
                            <p class="text-center">
                                <a [routerLink]="pageCard3.url"
                                   class="btn btn-warning btn-lg"
                                   *ngIf="!pageCard3.isExtURL">
                                    {{ pageCard3.buttonString }}
                                </a>
                                <a [href]="pageCard3.url"
                                   class="btn btn-warning btn-lg"
                                   target="_blank"
                                   *ngIf="pageCard3.isExtURL">
                                    {{ pageCard3.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- * AD Footerbar * -->
    <div class="row" *ngIf="footerbar">
        <div class="container">
            <div class="text-center">
                <div [innerHTML]="footerbar | safeHtml" runScripts id="prmyAdSpace"></div>
            </div>
        </div>
    </div>
</div>