<!-- * ADMIN-PRESS-RELEASES-NEW * -->
<div class="row mb-4 mt-5 text-right">
    <div class="container">
        <div class="col-md-12">
            <a class="btn btn-default"
               [routerLink]="['/admin/press-releases']">
                <i class="fal fa-arrow-circle-left"></i>&nbsp;All Press Releases
            </a>
        </div>
    </div>
</div>

<div class="container new-press-release">
    <div class="col-md-12">
        <div class="card mb-5">
            <div class="card-body">
                <div class="card-title">
                    <h2>New Press Release</h2>
                </div>

                <form [formGroup]="newPressReleaseForm"
                      (ngSubmit)="onAddNewPressRelease(newPressReleaseForm.value)">

                    <div class="form-group">
                        <label>Title <br>
                            <small>Make sure Title is correct, Title cannot be changed</small>
                        </label>
                        <input type="text"
                               required
                               class="form-control"
                               [class.invalid]="!f.title.valid && f.title.touched"
                               formControlName="title">
                    </div>

                    <div class="form-group">
                        <label>Meta Descripton <br>
                            <small>If blank, meta will use site default (Not recommended)</small>
                        </label>
                        <textarea type="text"
                                  class="form-control"
                                  placeholder="Should be a sentence or two that accurately describes this page"
                                  formControlName="metaDesc"
                                  rows="3">
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label>Summary</label>
                        <textarea type="text"
                                  rows="5"
                                  class="form-control"
                                  [class.invalid]="!f.summary.valid && f.summary.touched"
                                  formControlName="summary">
                        </textarea>
                    </div>


                    <div class="form-group">
                        <label>Author</label>
                        <input type="text"
                               class="form-control"
                               [class.invalid]="!f.author.valid && f.author.touched"
                               formControlName="author">
                    </div>


                    <div class="form-group">
                        <label for="publishOn">Publish On</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   id="publishOn"
                                   bsDatepicker
                                   [bsConfig]="bsConfig"
                                   placeholder="Click to Select Date"
                                   placement="top"
                                   [class.invalid]="!f.publishOn.valid && f.publishOn.touched"
                                   formControlName="publishOn">
                        </div>
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.publishOn.valid && f.publishOn.touched">
                            <b>Publish Date</b> is required!
                        </p>
                    </div>


                    <!--<div class="form-group">-->
                    <!--<label for="sortOrder">Sort Order <br>-->
                    <!--<small>Order shown in navbar dropdown category</small>-->
                    <!--</label>-->
                    <!--<select class="form-control"-->
                    <!--id="sortOrder"-->
                    <!--[class.invalid]="!f.sortOrder.valid && f.sortOrder.touched"-->
                    <!--formControlName="sortOrder">-->
                    <!--<option>1</option>-->
                    <!--<option>2</option>-->
                    <!--<option>3</option>-->
                    <!--<option>4</option>-->
                    <!--<option>5</option>-->
                    <!--<option>6</option>-->
                    <!--</select>-->
                    <!--</div>-->


                    <div class="form-group">
                        <label>Body</label>
                        <ckeditor [formControl]="newPressReleaseForm.controls['body']"
                                  [config]="CkeditorConfig"
                                  [readonly]="false"
                                  debounce="500">
                        </ckeditor>
                        <p class="help-block alert alert-warning text-center mt-1"
                           *ngIf="!f.body.valid && f.body.touched">
                            <b>Body</b> is required!
                        </p>
                    </div>


                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="published"
                                   formControlName="published">
                            <label class="custom-control-label"
                                   for="published">Publish?</label>
                        </div>
                    </div>


                    <button type="submit"
                            class="btn btn-secondary mb-4 full-width">
                        <i class="fa fa-bullhorn"></i>&nbsp;Create
                    </button>

                    <div class="btn-group float-right mb-3" role="group" aria-label="Basic example">
                        <a class="btn btn-warning btn-sm"
                           [routerLink]="['/admin/press-releases']">
                            <i class="fa fa-undo"></i>&nbsp;Cancel
                        </a>
                    </div>

                    <!--* Debugging * -->
                    <!--<code>-->
                    <!--<pre>Form value: {{ newPressReleaseForm.value | json }}</pre>-->
                    <!--</code>-->
                    <!--<code>-->
                    <!--<pre>Form value: {{ newPressReleaseForm.status | json }}</pre>-->
                    <!--</code>-->

                </form>
            </div>
        </div>
    </div>


</div>
