<!-- * FILES * -->
<div class="row mb-2 mt-3">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center pb-4 pt-3 admin-badge">
                    <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-color.png"
                         alt="ddw logo" class="ddw-logo" style="max-width:200px;"> <br>
                    <i class="fa fa-file-alt"></i>&nbsp;Admin
                    Files
                </h1>
            </div>
        </div>
    </div>
</div>

<!-- * Nav buttons * -->
<div class="row m-4 pl-5">
    <div class="container">
        <div class="text-right mr-5">
            <div class="btn-group btn-group-md float-right"
                 role="group"
                 aria-label="Basic example">
                <a [routerLink]="['/admin/file-uploader']" class="btn btn-default">
                    <i class="fa fa-cloud-upload-alt"></i>&nbsp;Upload File
                </a>
                <a [routerLink]="['/admin/images']"
                   class="btn btn-default">
                    <i class="fa fa-image"></i>&nbsp;Images
                </a>
                <a [routerLink]="['/admin/image-uploader']"
                   class="btn btn-default">
                    <i class="fa fa-cloud-upload"></i>&nbsp;Upload Image
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-10 offset-md-1">
            <div class="card mb-4">
                <h6 class="card-header">
                    Search Files
                </h6>
                <div class="card-body demo-vertical-spacing-sm">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Search file names..."
                                           [(ngModel)]="searchTerm"
                                           (keydown)="search($event)">
                                    <span class="input-group-append">
                                  <button class="btn btn-secondary" type="button">
                                      <i class="fa fa-search"></i>&nbsp;Search
                                  </button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mb-5">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <p class="p-1 tip"><i class="fa fa-info-circle"></i> You can click any file to copy it's URL</p>
                <div class="offset-md-9">
                    <mat-form-field>
                        <mat-select [(ngModel)]="selectedViewNumber"
                                    placeholder="View Amount">
                            <mat-option *ngFor="let amt of viewNumber"
                                        [value]="amt.value"
                                        (click)="sortBy(selectedViewNumber)">
                                {{ amt.type }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="card inner-card bg-lighter">
                    <div class="card-body">
                        <ng-template #loading>
                            <div class="row">
                                <div class="container text-center">
                                    <div class="text-center text-dark p-5">
                                        <i class="far fa-spinner fa-pulse"></i>
                                        <br><br>
                                        loading...
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="row" *ngIf="files; else loading">
                            <div class="col-sm-4 col-md-3 col-lg-2"
                                 *ngFor="let file of files; let i = index">
                                <div class="card file-card mt-1">
                                    <div class="card-body text-center pt-1 pb-1">
                                        <p class="body-text">
                                            <span *ngIf="file.fileType === 'pdf'">
                                                <i class="fa fa-file-pdf"
                                                   [matTooltip]="file.fileName"
                                                   (click)="onToggleCopy(file.url)"></i>
                                            </span>
                                            <span *ngIf="file.fileType === 'xls' || file.fileType === 'xlsx'">
                                                <i class="fa fa-file-excel"
                                                   [matTooltip]="file.fileName"
                                                   (click)="onToggleCopy(file.url)"></i>
                                            </span>
                                            <span *ngIf="file.fileType === 'pptx' || file.fileType === 'ppt'">
                                                <i class="fa fa-file-powerpoint"
                                                   [matTooltip]="file.fileName"
                                                   (click)="onToggleCopy(file.url)"></i>
                                            </span>
                                            <span *ngIf="file.fileType === 'doc' || file.fileType === 'docx'">
                                                <i class="fa fa-file-word"
                                                   [matTooltip]="file.fileName"
                                                   (click)="onToggleCopy(file.url)"></i>
                                            </span>
                                        </p>
                                        <p class="body-text file-name">
                                            {{ file.fileName }}
                                        </p>
                                        <button type="button"
                                                class="btn btn-default btn-xs"
                                                (click)="onToggleDetails(i)">
                                            <span *ngIf="!showDetailsToggle[i]">
                                                <i class="fa fa-caret-circle-down"></i>&nbsp;Details
                                            </span>
                                            <span *ngIf="showDetailsToggle[i]">
                                                <i class="fa fa-caret-circle-up"></i>&nbsp;Details
                                            </span>
                                        </button>
                                        <button type="button"
                                                class="btn btn-default btn-xs"
                                                (click)="onToggleCopy(file.url)">
                                            <i class="fa fa-clipboard"></i>&nbsp;Copy URL
                                        </button>
                                    </div>
                                    <div class="card-body pt-2 details"
                                         *ngIf="showDetailsToggle[i]">
                                        <hr>
                                        <div class="footer">
                                            <i class="fa fa-user"></i> {{ file.author }} <br>
                                            <i class="fa fa-calendar"></i> {{ file.createdAt | date:'medium' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>