<!-- * NAVBAR * -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <a class="navbar-brand" [routerLink]="['/']">
        <img src="https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw-color.png"
             alt="ddw logo" class="ddw-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="registerDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Register
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="registerDropdown">
                    <span *ngFor="let regPage of registerPages$">
                        <a class="dropdown-item"
                           *ngIf="!regPage.isExtURL && !regPage.isGrandchildPage"
                           [routerLink]="['/register/', regPage.url]">
                            {{ regPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="!regPage.isExtURL && regPage.isGrandchildPage"
                           [routerLink]="['/register/', regPage.grandchildURL ,regPage.url]">
                            {{ regPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="regPage.isExtURL"
                           [href]="regPage.extURL"
                           target="_blank">
                            {{ regPage.title }}
                        </a>
                    </span>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="attendeeDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Attendee Planning
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="attendeeDropdown">
                    <span *ngFor="let attPage of attendeePlanningPages$">
                        <a class="dropdown-item"
                           *ngIf="!attPage.isExtURL && !attPage.isGrandchildPage"
                           [routerLink]="['/attendee-planning/', attPage.url]">
                            {{ attPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="!attPage.isExtURL && attPage.isGrandchildPage"
                           [routerLink]="['/attendee-planning/', attPage.grandchildURL, attPage.url]">
                            {{ attPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="attPage.isExtURL"
                           [href]="attPage.extURL"
                           target="_blank">
                            {{ attPage.title }}
                        </a>
                    </span>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="edDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Education
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="edDropdown">
                    <span *ngFor="let edPage of educationPages$">
                        <a class="dropdown-item"
                           *ngIf="!edPage.isExtURL && !edPage.isGrandchildPage"
                           [routerLink]="['/education/', edPage.url]">
                            {{ edPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="!edPage.isExtURL && edPage.isGrandchildPage"
                           [routerLink]="['/education/', edPage.grandchildURL, edPage.url]">
                            {{ edPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="edPage.isExtURL"
                           [href]="edPage.extURL"
                           target="_blank">
                            {{ edPage.title }}
                        </a>
                    </span>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="exhDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Exhibitor Information
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="exhDropdown">
                    <span *ngFor="let exhPage of exhibitorInfoPages$">
                        <a class="dropdown-item"
                           *ngIf="!exhPage.isExtURL && !exhPage.isGrandchildPage"
                           [routerLink]="['/exhibitor-information/', exhPage.url]">
                            {{ exhPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="!exhPage.isExtURL && exhPage.isGrandchildPage"
                           [routerLink]="['/exhibitor-information/', exhPage.grandchildURL, exhPage.url]">
                            {{ exhPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="exhPage.isExtURL"
                           [href]="exhPage.extURL"
                           target="_blank">
                            {{ exhPage.title }}
                        </a>
                    </span>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="newsDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    News &amp; Media
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="newsDropdown">
                    <span *ngFor="let newsPage of newsAndMediaPages$">
                        <a class="dropdown-item"
                           *ngIf="!newsPage.isExtURL && !newsPage.isGrandchildPage"
                           [routerLink]="['/news/', newsPage.url]">
                            {{ newsPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="!newsPage.isExtURL && newsPage.isGrandchildPage"
                           [routerLink]="['/news/', newsPage.grandchildURL, newsPage.url]">
                            {{ newsPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="newsPage.isExtURL"
                           [routerLink]="['/news/', newsPage.url]">
                            {{ newsPage.title }}
                        </a>
                    </span>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="presDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Presenters
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="presDropdown">
                    <span *ngFor="let presPage of presentersPages$">
                        <a class="dropdown-item"
                           *ngIf="!presPage.isExtURL && !presPage.isGrandchildPage"
                           [routerLink]="['/presenters/', presPage.url]">
                            {{ presPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="!presPage.isExtURL && presPage.isGrandchildPage"
                           [routerLink]="['/presenters/', presPage.grandchildURL, presPage.url]">
                            {{ presPage.title }}
                        </a>
                        <a class="dropdown-item"
                           *ngIf="presPage.isExtURL"
                           [href]="presPage.extURL"
                           target="_blank">
                            {{ presPage.title }}
                        </a>
                    </span>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/admin/pages']">Pages</a>
                    <a class="dropdown-item" [routerLink]="['/admin/users']">Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/admin/login']">Log In</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       aria-label="Search"
                       aria-describedby="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary text-secondary"
                            type="button"
                            id="search">
                        <i class="far fa-search"></i>
                    </button>
                </div>
            </div>

            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        </form>
    </div>
</nav>
