<!-- * NAVBAR * -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">
        <img src="https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw-color.png"
             alt="ddw logo" class="ddw-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="registerDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Register
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="registerDropdown">
                    <a class="dropdown-item"
                       *ngFor="let regPage of registerPages$ | async"
                       [routerLink]="['/register/', regPage.$key]">
                        {{ regPage.title }}
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="attendeeDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Attendee Planning
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="attendeeDropdown">
                    <a class="dropdown-item"
                       *ngFor="let attnPage of attendeePlanningPages$ | async"
                       [routerLink]="['/attendee-planning/', attnPage.$key]">
                        {{ attnPage.title }}
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="edDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Education
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="edDropdown">
                    <a class="dropdown-item"
                       *ngFor="let edPage of educationPages$ | async"
                       [routerLink]="['/education/', edPage.$key]">
                        {{ edPage.title }}
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="exhDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Exhibitor Information
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="exhDropdown">
                    <a class="dropdown-item"
                       *ngFor="let exhPage of exhibitorInfoPages$ | async"
                       [routerLink]="['/exhibitor-information/', exhPage.$key]">
                        {{ exhPage.title }}
                    </a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="newsDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    News &amp; Media
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="newsDropdown">
                    <a class="dropdown-item"
                       *ngFor="let newsPage of newsAndMediaPages$ | async"
                       [routerLink]="['/news-and-media/', newsPage.$key]">
                        {{ newsPage.title }}
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="presDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Presenters
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="presDropdown">
                    <a class="dropdown-item"
                       *ngFor="let presPage of presentersPages$ | async"
                       [routerLink]="['/presenters/', presPage.$key]">
                        {{ presPage.title }}
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/admin/pages']">Pages</a>
                    <a class="dropdown-item" [routerLink]="['/admin/users']">Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/admin/login']">Log In</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       aria-label="Search"
                       aria-describedby="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondarywaa text-secondary"
                            type="button"
                            id="search">
                        <i class="far fa-search"></i>
                    </button>
                </div>
            </div>

            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        </form>
    </div>
</nav>