<div class="row mb-5 mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center text-secondary pb-4 pt-3">
                    <span class="text-dark">
               <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-color.png"
                    alt="ddw logo" class="ddw-logo" style="max-width:200px;"> <br>
                        <i class="fa fa-wrench"></i>&nbsp;Admin
                    </span> Settings
                </h1>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form #settingsForm="ngForm"
                              (ngSubmit)="onSettingsSubmit(settingsForm)">

                            <div class="form-group">
                                <div class="form-group form-check">
                                    <input type="checkbox"
                                           id="allowSignup"
                                           class="form-check-input"
                                           name="allowSignup"
                                           [checked]="settings.allowSignup"
                                           [(ngModel)]="allowSignup"
                                           #allowSign="ngModel">

                                    <label class="form-check-label"
                                           for="allowSignup"
                                           (change)="allowSignup = !allowSignup">
                                        Allow User Registration?
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group form-check">
                                    <input type="checkbox"
                                           id="allowSettings"
                                           class="form-check-input"
                                           name="allowSettings"
                                           [checked]="settings.allowSettings"
                                           [(ngModel)]="allowSettings"
                                           #allowSet="ngModel">

                                    <label class="form-check-label"
                                           for="allowSettings"
                                           (change)="allowSettings = !allowSettings">
                                        Allow this page to be editable?
                                    </label>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="form-group form-check">
                                    <input type="checkbox"
                                           id="disableAdmin"
                                           class="form-check-input"
                                           name="disableAdmin"
                                           [checked]="settings.disableAdmin"
                                           [(ngModel)]="disableAdmin"
                                           #disableAd="ngModel">

                                    <label class="form-check-label"
                                           for="disableAdmin"
                                           (change)="disableAdmin = !disableAdmin">
                                        Disable Admin?
                                    </label>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-wrench"></i>&nbsp;Save Settings
                            </button>

                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <a [routerLink]="['/admin/meta']"
                               class="btn btn-outline-dark">
                                <i class="fa fa-chart-line"></i>&nbsp;Edit Meta/Scripts
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>