<!-- * ATTENDEE-PLANNING-PAGE * -->
<ddw-pages-navbar></ddw-pages-navbar>

<div *ngIf="page">
    <img [src]="page.bannerPhotoURL" class="bannerPhotoURL">

    <div class="container">
        <h1 class="title">{{ page.title }}</h1>
    </div>

    <!-- * AD Headerbar * -->
    <div class="row" *ngIf="headerbar">
        <div class="container">
            <div class="col-md-8 offset-md-2">
                <div class="text-center">
                    <div [innerHTML]="headerbar | safeHtml" ddwRunScripts id="AdSpace"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- * Breadcrumbs * -->
    <div class="row crumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div class="text-capitalize text-decoration-none text-dark">
                        {{ page.category }}
                    </div>
                </li>
                <li class="breadcrumb-item text-capitalize text-dark"
                    *ngIf="page.isGrandchildPage">
                    <a [routerLink]="['/', page.category, page.grandchildURL]"
                       style="color:#2e6da4;"
                       class="child">{{page.grandchildURL}}</a>
                </li>
                <li class="breadcrumb-item active text-dark">
                    {{page.title}}
                </li>
            </ol>
        </div>
    </div>

    <!-- * Content Sections * -->
    <div class="row pl-2">
        <div class="container">
            <div class="image-container">
                <img [src]="page.photoURL"
                     *ngIf="page.photoURL && !page.showWidgetSnippet"
                     class="photoURL">
                <div [innerHTML]="widgetSnippet | safeHtml"
                     *ngIf="widgetSnippet && page.showWidgetSnippet"
                     ddwRunScripts
                     class="widgetSnippet"
                     id="widgetSnippet">
                </div>
            </div>

            <!-- * TEXT SECTIONS * -->
            <span [innerHTML]="page.body"
                  *ngIf="!page.contentSectionTop || !page.contentSectionBottom || !page.callToAction">
            </span>
            <!-- * Text Section Top * -->
            <span [innerHTML]="tsTopBody"
                  *ngIf="tsTopBody && page.contentSectionTop && !page.body">
            </span>
        </div>
    </div>

    <div class="container">
        <!-- * Call To Action * -->
        <!--        <div class="row pt-3" *ngIf="cta.title || cta.subtitle">-->
        <!--            <div class="col-md-10 text-center mx-auto">-->
        <!--                <h2>{{ cta.title }}</h2>-->
        <!--                <p>{{ cta.subtitle }}</p>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="row cta" *ngIf="page.callToAction && cta">

            <!--            <div class="col-md-12">-->
            <div class="col-md-5 p-0 m-0">
                <iframe *ngIf="videoUrl"
                        allowfullscreen="allowfullscreen"
                        frameborder="0"
                        height="100%"
                        width="100%"
                        class="video-url"
                        [src]="videoUrl">
                </iframe>
                <img [src]="imageUrl"
                     *ngIf="imageUrl"
                     style="max-width:446px;">

            </div>

            <div class="col-md-7 col-quote">
                <span [innerHTML]="ctaBody"></span>

                <div class="row" *ngIf="cta.buttonText && cta.buttonUrl">
                    <div class="col-md-6 offset-md-3">
                        <a *ngIf="cta.buttonText && cta.buttonUrl && cta.isExtUrl"
                           target="_blank"
                           [href]="cta.buttonUrl"
                           class="btn cta">
                            {{ cta.buttonText }}
                        </a>
                        <a *ngIf="cta.buttonText && cta.buttonUrl && !cta.isExtUrl"
                           [href]="cta.buttonUrl"
                           class="btn cta">
                            {{ cta.buttonText }}
                        </a>
                    </div>
                </div>
            </div>
            <!--            </div>-->

        </div>


    </div>

    <div class="row pl-2">
        <div class="container">
            <!-- * Text Section Bottom * -->
            <div [innerHTML]="tsBottomBody"
                 *ngIf="tsBottomBody && page.contentSectionBottom && !page.body">
            </div>

        </div>
    </div>

    <!-- * Calendar * -->
    <div class="row" *ngIf="page.hasCalendar">
        <div class="container-fluid">
            <ddw-admin-calendar-item
                    *ngFor="let calEl of calendar$ | async"
                    [calendar]="calEl">
            </ddw-admin-calendar-item>
        </div>
    </div>

    <div class="row" *ngIf="page.hasCards && page.cardSectionTitle">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="card-sec-title">{{ page.cardSectionTitle }}</h2>
            </div>
        </div>
    </div>

    <div class="row cards" *ngIf="page.hasCards">
        <div class="container">
            <div class="row">
                <!-- * Card 1 * -->
                <div class="col-md-4">
                    <div class="card text-center mb-3" *ngIf="pageCard1">
                        <img class="card-img-top"
                             [src]="pageCard1.photoURL"
                             [alt]="pageCard1.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard1.title }}</h5>
                            <p class="card-text">{{ pageCard1.body }}</p>
                            <p class="text-center">
                                <a [routerLink]="pageCard1.url"
                                   class="btn btn-warning btn-lg"
                                   *ngIf="!pageCard1.isExtURL">
                                    {{ pageCard1.buttonString }}
                                </a>
                                <a [href]="pageCard1.url"
                                   class="btn btn-warning btn-lg"
                                   target="_blank"
                                   *ngIf="pageCard1.isExtURL">
                                    {{ pageCard1.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- * Card 2 * -->
                <div class="col-md-4">
                    <div class="card text-center mb-3" *ngIf="pageCard2">
                        <img class="card-img-top"
                             [src]="pageCard2.photoURL"
                             [alt]="pageCard2.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard2.title }}</h5>
                            <p class="card-text">{{ pageCard2.body }}</p>
                            <p class="text-center">
                                <a [routerLink]="pageCard2.url"
                                   class="btn btn-warning btn-lg"
                                   *ngIf="!pageCard2.isExtURL">
                                    {{ pageCard2.buttonString }}
                                </a>
                                <a [href]="pageCard2.url"
                                   class="btn btn-warning btn-lg"
                                   target="_blank"
                                   *ngIf="pageCard2.isExtURL">
                                    {{ pageCard2.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- * Card 3 * -->
                <div class="col-md-4">
                    <div class="card text-center mb-3" *ngIf="pageCard3">
                        <img class="card-img-top"
                             [src]="pageCard3.photoURL"
                             [alt]="pageCard3.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard3.title }}</h5>
                            <p class="card-text">{{ pageCard3.body }}</p>
                            <p class="text-center">
                                <a [routerLink]="pageCard3.url"
                                   class="btn btn-warning btn-lg"
                                   *ngIf="!pageCard3.isExtURL">
                                    {{ pageCard3.buttonString }}
                                </a>
                                <a [href]="pageCard3.url"
                                   class="btn btn-warning btn-lg"
                                   target="_blank"
                                   *ngIf="pageCard3.isExtURL">
                                    {{ pageCard3.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- * AD Footerbar * -->
    <div class="row" *ngIf="footerbar">
        <div class="container">
            <div class="col-md-8 offset-md-2">
                <div class="text-center">
                    <div [innerHTML]="footerbar | safeHtml" ddwRunScripts id="myAdSpace"></div>
                </div>
            </div>
        </div>
    </div>
</div>
