<!-- * ATTENDEE-PLANNING-PAGE * -->
<ddw-pages-navbar></ddw-pages-navbar>

<div *ngIf="page">
    <img [src]="page.bannerPhotoURL" class="bannerPhotoURL">

    <div class="container">
        <h1 class="title">{{ page.title }}</h1>
    </div>

    <div class="row crumbs">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <div class="text-capitalize text-decoration-none text-dark">
                        {{ page.category }}
                    </div>
                </li>
                <li class="breadcrumb-item text-capitalize text-dark" *ngIf="page.isGrandchildPage">
                    {{page.grandchildURL}}
                </li>
                <li class="breadcrumb-item active text-dark">
                    {{page.title}}
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid body-container">
            <img [src]="page.photoURL"
                 class="photoURL">
            <div [innerHTML]="page.body | safeHtml"></div>
        </div>
    </div>


    <div class="row" *ngIf="page.hasCalendar">
        <div class="container-fluid">
            <ddw-admin-calendar-item
                    *ngFor="let calEl of calendar$ | async"
                    [calendar]="calEl">
            </ddw-admin-calendar-item>
        </div>
    </div>


    <!--<div class="row">-->
        <!--<div class="container">-->
            <!--<div class="col-md-4 offset-md-4 text-center">-->
                <!--<h2 class="card-sec-title">Additional Details</h2>-->
                <!--<div class="col-4 offset-4">-->
                    <!--<div class="underline"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row cards" *ngIf="page.hasCards">
        <div class="container">
            <div class="card-deck">
                <div class="row">
                    <!-- * Card 1 * -->
                    <div class="card text-center mt-3 mb-3" *ngIf="pageCard1">
                        <img class="card-img-top"
                             [src]="pageCard1.photoURL"
                             [alt]="pageCard1.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard1.title }}</h5>
                            <p class="card-text">{{ pageCard1.body }}</p>
                            <p class="text-center">
                                <a [href]="pageCard1.url"
                                   class="btn btn-warning btn-lg">
                                    {{ pageCard1.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- * Card 2 * -->
                    <div class="card text-center mt-3 mb-3" *ngIf="pageCard2">
                        <img class="card-img-top"
                             [src]="pageCard2.photoURL"
                             [alt]="pageCard2.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard2.title }}</h5>
                            <p class="card-text">{{ pageCard2.body }}</p>
                            <p class="text-center">
                                <a [href]="pageCard2.url"
                                   class="btn btn-warning btn-lg">
                                    {{ pageCard2.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- * Card 3 * -->
                    <div class="card text-center mt-3 mb-3" *ngIf="pageCard3">
                        <img class="card-img-top"
                             [src]="pageCard3.photoURL"
                             [alt]="pageCard3.title">
                        <div class="card-body">
                            <h5 class="card-title">{{ pageCard3.title }}</h5>
                            <p class="card-text">{{ pageCard3.body }}</p>
                            <p class="text-center">
                                <a [href]="pageCard3.url"
                                   class="btn btn-warning btn-lg">
                                    {{ pageCard3.buttonString }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>