<a [routerLink]="['/admin/pages/', page.$key]">
    <div class="card text-dark mb-2">
        <img class="card-img-top" [src]="page.photoURL" [alt]="page.title">
        <div class="card-body">
            <h5 class="card-title">{{ page.title }}</h5>
            <h6 class="card-subtitle">{{ page.date.toDate() | date:'mediumDate' }}</h6>
            <hr>
            <p class="card-text" [innerHTML]="page.body | slice:0:120"></p>
            <span class="badge badge-pill badge-primary">{{ page.category }}</span>
            <p class="card-text text-secondary text-right"><small>{{ page.template }} Template</small></p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ page.author }}</small>
        </div>
    </div>
</a>