nav#layout-navbar {
    background-color: #1C202B;
    color: #9d9fa1;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif;
    font-size: 14px;
}

li > a.nav-link {
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #9d9fa1;
}

img.user-image {
    max-width: 25px;
}

button.btn-default {
    color: #a3a4a6;
}

button.btn-default:hover {
    color: #4E5155;
}

.current-date {
    color: #9d9fa1;
}

/* Mobile Queries */

/* Display on anything 992px and larger */
@media (min-width: 992px) {
    nav#layout-navbar {
        display: block;
    }

    nav.navbar.navbar-footer {
        display: none;
    }
}

/* Small devices (landscape phones, 991px and below) */
@media (max-width: 991px) {
    nav#layout-navbar {
        display: none;
    }

    nav.navbar.navbar-footer {
        display: block;
    }
}