<nav class="layout-navbar navbar navbar-expand-lg text-light container-p-x" id="layout-navbar">
    <!--<a class="navbar-brand" href="#">DDW<sup>&reg;</sup> Admin</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <span class="nav-item nav-link" [routerLink]="['pages']">
                <i class="fa fa-calendar"></i> {{ currentDate | date:'fullDate' }}
            </span>
            <!--<a class="nav-item nav-link" [routerLink]="['users']"><i class="fa fa-user"></i>&nbsp;Users</a>-->
            <!--<a class="nav-item nav-link" [routerLink]="['/']"><i class="fa fa-globe"></i>&nbsp;Live Site</a>-->

        </div>

        <ul class="navbar-nav ml-auto text-right">
            <li class="nav-item" *ngIf="isLoggedIn">
                <button class="btn new-page btn-sm float-right mt-2 mr-5"
                        style="background-color:#9d9fa1; border-radius:0;"
                        [routerLink]="['/admin/pages/new']"><i class="fa fa-file-plus"></i>&nbsp; New Page
                </button>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn && dbUser">
                <a class="nav-link"
                   [routerLink]="['/admin/users/', dbUser.uid ]">
                    <img [src]="dbUser.photoURL"
                         class="user-image rounded-circle"> &nbsp;{{ loggedInUser }}
                </a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn && allowSettings && isAdmin">
                <a class="nav-link"
                   [routerLink]="['/admin/settings']">
                    <i class="fa fa-wrench"></i>&nbsp;Settings
                </a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn && allowSignup && isAdmin">
                <a class="nav-link"
                   [routerLink]="['/admin/signup']">
                    <i class="fa fa-user-plus"></i>&nbsp;Create Account
                </a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link"
                   [routerLink]="['/admin/login']">
                    <i class="fa fa-sign-in-alt"></i>&nbsp;log In
                </a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link"
                   style="cursor:pointer;"
                   (click)="onLogout()"><i class="fa fa-sign-out-alt"></i>&nbsp;Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
