
<div class="row m-4 pl-5">
    <div class="container">
        <a [routerLink]="['/admin/settings']" class="back-pages"><i class="fal fa-arrow-circle-left"></i>&nbsp;Settings</a>
        <div class="text-right mr-5">
            <a [routerLink]="['/admin/calendar/edit']" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;Back to Edit Calendar</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<!--<div class="row">-->
    <!--<div class="container-fluid">-->
        <!--<tabset [justified]="true">-->
            <!--<tab heading="Justified">Justified content</tab>-->
            <!--<tab heading="SJ">Short Labeled Justified content</tab>-->
            <!--<tab heading="Long Justified">Long Labeled Justified content</tab>-->
        <!--</tabset>-->
    <!--</div>-->
<!--</div>-->