/*p, ul, ol, li  {*/
/*font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;*/
/*line-height: 2;*/
/*font-size: 18px;*/
/*}*/

p, ul, ol, li {
    font-size: 18px;
}

h1, h2, h3 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.card-body.ext-link *, .card-body.ext-link > p, .card-body.ext-link > h4 {
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif !important;
    line-height: 1.5;
}

.navbar {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

li.nav-item {
    padding: 0 1em;
    font-size: 14px;
}

/* Preview */
img.bannerPhotoURL {
    top: 0;
    left: 0;
    position: relative;
    max-height: 350px;
    width: 100%;
    /*z-index: 0;*/
}

h1.title {
    position: absolute;
    top: 30%;
    color: #ffffff;
    font-weight: bold;
}

.row.crumbs {
    padding: 2em 0;
}

ol.breadcrumb, li.breadcrumb-item {
    background-color: #fff;
    font-size: 18px;
}

img.photoURL {
    max-width: 450px;
    float: right;
    margin: 0 0 1em 1em;
}

h2.card-sec-title {
    padding-top: 2em;
}

.underline {
    border-bottom: 2px solid #FEB512;
    margin-top: 1em;
}

.row.cards {
    margin: 5em 0 8em 0;
}

.card-body {
    line-height: 2em;
}

.details-body {
    font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 2;
}

.press-release-container {
    margin-bottom: 10em;
}

.details-body > h2 {
    font-weight: 700;
}

.card-text {
    padding: 2em;
}

.btn-group.btn-group-sm.float-right > a.btn,
.btn-group.btn-group-sm.float-right > button.btn {
    border-radius: 0;
}