<!-- * ALERT-MODAL * -->
<div class="modal-header">
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <ng-template #loadingTitle>
        <div class="text-center text-dark p-5">
           ...
        </div>
    </ng-template>
    <h5 class="modal-title" *ngIf="title; else loadingTitle">
        <i class="fa fa-exclamation-triangle"></i>&nbsp; <span class="helv">{{ title }}</span>
    </h5>
</div>
<ng-template #loadingBody>
    <div class="text-center text-dark p-5">
        ...
    </div>
</ng-template>
<div class="modal-body" *ngIf="body; else loadingBody">
    <div [innerHTML]="body | safeHtml"></div>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-primary"
            (click)="bsModalRef.hide()">{{ btnText || 'SEND' }}
    </button>
</div>