<!-- * TEXT-SECTION-EDIT * -->
<div class="row mt-5">
    <div class="container text-right">
        <div class="btn-group">
            <a [routerLink]="['/admin/text-section']"
               class="btn btn-default">&nbsp; <i class="fa fa-align-justify"></i>
                All Text Sections
            </a>
            <a [routerLink]="['/admin/text-section/', id]"
               class="btn btn-default">&nbsp; <i class="fa fa-eye"></i>
                Preview Text Section
            </a>
        </div>
    </div>
</div>

<div class="container mb-5 mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card bg-lighter inner-card">
                        <div class="card-body">
                            <div class="card-header-title">
                                <h4 class="pb-2">Edit Text Section
                                    <small class="text-secondary"></small>
                                </h4>
                                <hr class="inset-hr mb-3">
                            </div>
                            <form [formGroup]="editTextSectionForm"
                                  (ngSubmit)="onUpdateTextSection(editTextSectionForm.value)"
                                  *ngIf="textSection">

                                <div class="form-group">
                                    <label class="helv">Name <br>
                                        <small>How you'll search it in Page Builder.
                                            <span class="badge badge-warning">*Required</span></small>
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           [class.invalid]="!f.name.valid && f.name.touched"
                                           formControlName="name">
                                </div>

                                <div class="form-group">
                                    <label class="helv">Body</label>
                                    <ckeditor [formControl]="editTextSectionForm.controls['body']"
                                              [config]="CkeditorConfig"
                                              [class.invalid]="!f.body.valid && f.body.touched"
                                              [readonly]="false"
                                              debounce="500">
                                    </ckeditor>
                                </div>


                                <button type="submit"
                                        [disabled]="!editTextSectionForm.valid"
                                        class="btn btn-secondary full-width mb-3 mt-2">
                                    <i class="fa fa-text-width"></i>&nbsp;Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>