li.nav-item {
    font-family: 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin: 0 1em;
    font-size: 1rem;
}

.btn.cta {
    margin-bottom: 0;
}

.btn {
    border-radius: 0;
}