/* Cards */
.card-body {
    line-height: 2em;
}

.card-text {
    padding: 2em;
}

h5.card-title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a.btn.btn-warning.btn-lg {
    background-color: #F47700;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
    font-size: 18px;
}

a.btn.btn-warning.btn-lg:hover {
    background-color: #FEB512;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
    font-size: 18px;
}
