<!-- * ADMIN-PAGE-NEW * -->
<div class="row mb-4">
    <div class="container">
        <a class="text-primary back-pages"
           [routerLink]="['/admin/pages']"><i class="fal fa-arrow-circle-left"></i>&nbsp;All Pages
        </a>
    </div>
</div>

<!-- * Image Uploader * -->
<div class="row mb-5">
    <div class="container">
        <div class="col">
            <div class="card bg-light">
                <div class="card-body">
                    <p class="card-title">
                        Image Uploader
                    </p>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="custom-file">
                                <label class="custom-file-label" *ngIf="!downloadURL">
                                    Click To Select
                                </label>
                                <label class="custom-file-label text-truncate" *ngIf="downloadURL">
                                    {{ downloadURL | async }}
                                </label>
                                <input type="file"
                                       ddwDropZone
                                       class="custom-file-input"
                                       accept=".png, .jpg, jpeg"
                                       (change)="uploadImage($event)">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div *ngIf="downloadURL | async as url; else loadingURL">
                                <p class="pb-2">
                                    <b>Copy and paste url into the Image URL input below:</b>
                                </p>
                                <p>
                                    <a [href]="url">
                                        {{ url }}
                                    </a>
                                </p>
                                <p><img [src]="url" style="max-width:100px;"></p>
                            </div>
                            <ng-template #loadingURL>
                                <p class="text-center text-light">
                                    Upload Image, Then a URL will appear here. Copy and paste that link
                                    into any Image URL to use throughout the site (cards below).
                                </p>
                            </ng-template>
                        </div>
                    </div>


                    <div class="mt-4 mb-3" *ngIf="percentage | async as pct">
                        <progressbar class="progress-striped active"
                                     [value]="pct"
                                     type="primary"><i>Image Upload {{ pct | number }}%</i>
                        </progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- * CARDS * -->

<div class="row">
    <div class="container new-page">
        <div class="row">
            <!-- * Card 1 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Card 1 <small class="text-secondary">(left)</small></h2>
                        </div>
                        <form [formGroup]="cardForm1"
                              (ngSubmit)="onUpdateCard1(cardForm1.value)"
                              *ngIf="card1; else loading">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f1.title.valid && f1.title.touched"
                                       formControlName="title">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f1.title.valid && f1.title.touched">
                                    <b>Title</b> is required!
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f1.body.valid && f1.body.touched"
                                       formControlName="body">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f1.body.valid && f1.body.touched">
                                    <b>Body</b> is required!
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Button Text</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f1.buttonString.valid && f1.buttonString.touched"
                                       formControlName="buttonString">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f1.buttonString.valid && f1.buttonString.touched">
                                    <b>Button Text</b> is required!
                                </p>
                            </div>


                            <div class="form-group">
                                <label>Button Link</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f1.url.valid && f1.url.touched"
                                       formControlName="url">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f1.url.valid && f1.url.touched">
                                    <b>Button Link</b> is required!
                                </p>
                            </div>


                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of card)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f1.photoURL.valid && f1.photoURL.touched"
                                       [(ngModel)]="photoURL"
                                       formControlName="photoURL">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f1.photoURL.valid && f1.photoURL.touched">
                                    <b>Image URL</b> is required
                                </p>
                            </div>

                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <a class="btn btn-warning btn-sm"
                                   [routerLink]="['/admin/pages']">
                                    <i class="fa fa-undo"></i>&nbsp;Cancel
                                </a>
                            </div>

                            <button type="submit"
                                    [disabled]="!cardForm1.valid"
                                    class="btn btn-primary btn-sm mb-5">
                                <i class="fa fa-file-plus"></i>&nbsp;Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- * Card 2 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Card 2 <small class="text-secondary">(Middle)</small></h2>
                        </div>
                        <form [formGroup]="cardForm2"
                              (ngSubmit)="onUpdateCard2(cardForm2.value)"
                              *ngIf="card2; else loading">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f2.title.valid && f2.title.touched"
                                       formControlName="title">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f2.title.valid && f2.title.touched">
                                    <b>Title</b> is required!
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f2.body.valid && f2.body.touched"
                                       formControlName="body">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f2.body.valid && f2.body.touched">
                                    <b>Body</b> is required!
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Button Text</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f2.buttonString.valid && f2.buttonString.touched"
                                       formControlName="buttonString">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f2.buttonString.valid && f2.buttonString.touched">
                                    <b>Button Text</b> is required!
                                </p>
                            </div>


                            <div class="form-group">
                                <label>Button Link</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f2.url.valid && f2.url.touched"
                                       formControlName="url">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f2.url.valid && f2.url.touched">
                                    <b>Button Link</b> is required!
                                </p>
                            </div>


                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of card)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f2.photoURL.valid && f2.photoURL.touched"
                                       [(ngModel)]="photoURL"
                                       formControlName="photoURL">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f2.photoURL.valid && f2.photoURL.touched">
                                    <b>Image URL</b> is required
                                </p>
                            </div>

                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <a class="btn btn-warning btn-sm"
                                   [routerLink]="['/admin/pages']">
                                    <i class="fa fa-undo"></i>&nbsp;Cancel
                                </a>
                            </div>

                            <button type="submit"
                                    [disabled]="!cardForm1.valid"
                                    class="btn btn-primary btn-sm mb-5">
                                <i class="fa fa-file-plus"></i>&nbsp;Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- * Card 3 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Card 3 <small class="text-secondary">(Right)</small></h2>
                        </div>
                        <form [formGroup]="cardForm3"
                              (ngSubmit)="onUpdateCard3(cardForm3.value)"
                              *ngIf="card3; else loading">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f3.title.valid && f3.title.touched"
                                       formControlName="title">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f3.title.valid && f3.title.touched">
                                    <b>Title</b> is required!
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f3.body.valid && f3.body.touched"
                                       formControlName="body">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f3.body.valid && f3.body.touched">
                                    <b>Body</b> is required!
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Button Text</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f3.buttonString.valid && f3.buttonString.touched"
                                       formControlName="buttonString">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f3.buttonString.valid && f3.buttonString.touched">
                                    <b>Button Text</b> is required!
                                </p>
                            </div>


                            <div class="form-group">
                                <label>Button Link</label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f3.url.valid && f3.url.touched"
                                       formControlName="url">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f3.url.valid && f3.url.touched">
                                    <b>Button Link</b> is required!
                                </p>
                            </div>


                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of card)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [class.invalid]="!f3.photoURL.valid && f3.photoURL.touched"
                                       [(ngModel)]="photoURL"
                                       formControlName="photoURL">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f3.photoURL.valid && f3.photoURL.touched">
                                    <b>Image URL</b> is required
                                </p>
                            </div>

                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <a class="btn btn-warning btn-sm"
                                   [routerLink]="['/admin/pages']">
                                    <i class="fa fa-undo"></i>&nbsp;Cancel
                                </a>
                            </div>

                            <button type="submit"
                                    [disabled]="!cardForm1.valid"
                                    class="btn btn-primary btn-sm mb-5">
                                <i class="fa fa-file-plus"></i>&nbsp;Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




