<!-- * ADMIN-USER-DETAILS * -->
<div class="row mb-4">
    <a class="text-primary back-users"
       [routerLink]="['/admin/users']"><i class="fal fa-arrow-circle-left"></i>&nbsp;All Users
    </a>
</div>


<div class="card" *ngIf="user">
    <img class="card-img-top img-fluid" [src]="user.photoURL" [alt]="user.displayName">
    <div class="card-body">
        <div class="btn-group float-right"
             role="group"
             aria-label="Basic example">
            <a class="btn btn-secondary btn-sm"
               [routerLink]="['edit']">
                <i class="fa fa-pencil"></i>&nbsp;Edit
            </a>
            <a class="btn btn-warning btn-sm"
               [routerLink]="['/admin/users']">
                <i class="fa fa-undo"></i>&nbsp;Cancel
            </a>
            <button class="btn btn-danger btn-sm"
                    (click)="onDeleteUser()">
                <i class="fa fa-trash"></i>&nbsp;Delete
            </button>
        </div>
        <h5 class="card-title">{{ user.displayName }}</h5>
        <p class="card-text"><i>{{ user.title }}</i> <br>
            {{ user.email }} <br>
            Admin: {{ user.admin }} <br>
            Online: {{ user.isOnline }}<br>
        </p>

    </div>
    <div class="card-footer">
        <small class="text-muted">Last time online: {{ user.loginDate | date:'fullDate' }}</small>
    </div>
</div>
