<ddw-pages-navbar></ddw-pages-navbar>
<img src="https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/interior-bg.jpg"
     class="bannerPhotoURL">
<div class="container">
    <h1 class="title">Contact Us</h1>
</div>


<div class="row ad">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <img src="http://placehold.it/700x100" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="col-md-12">
            <p class="ml-5 contact-us">Contact Us</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <p class="address">
                            <b>DDW Administration</b><br>
                            4930 Del Ray Avenue <br>
                            Bethesda MD 20814 <br>
                            United States <br>
                            Phone: 301-272-0022 <br>
                            FAX: 301-654-3978
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="pt-2 pb-2 send-msg">Send Us A Message</h2>
                        <form [formGroup]="newContactForm"
                              (ngSubmit)="onNewContact(newContactForm.value)">

                            <div class="form-group">
                                <label for="subject">Subject<sup>*</sup></label>
                                <select class="custom-select custom-select-md mb-3"
                                        id="subject"
                                        required
                                        formControlName="subject">
                                    <option selected>Select A Subject</option>
                                    <option value="Test Subject One">Test Subject One</option>
                                    <option value="Test Subject Two">Test Subject Two</option>
                                    <option value="Test Subject Three">Test Subject Three</option>
                                </select>
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f.subject.valid && f.subject.touched">
                                    <b>Subject</b> is required
                                </p>
                            </div>


                            <div class="form-group">
                                <label>Your First Name<sup>*</sup></label>
                                <input type="text"
                                       class="form-control"
                                       required
                                       formControlName="firstName">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f.firstName.valid && f.firstName.touched">
                                    <b>First Name</b> is required
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Your Last Name<sup>*</sup></label>
                                <input type="text"
                                       class="form-control"
                                       required
                                       formControlName="lastName">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f.lastName.valid && f.lastName.touched">
                                    <b>Last Name</b> is required
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Your Email Address<sup>*</sup></label>
                                <input type="email"
                                       class="form-control"
                                       required
                                       formControlName="email">
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f.email.valid && f.email.touched">
                                    <b>Email</b> is required
                                </p>
                            </div>

                            <div class="form-group col-md-3 phone-number">
                                <label>Your Phone Number (optional)</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Ex: 123-456-7890"
                                       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                       formControlName="phoneNumber">
                            </div>
                            <p class="help-block alert alert-warning text-center mt-1"
                               *ngIf="!f.phoneNumber.valid && f.phoneNumber.touched">
                                <b>Phone Number</b> is not in the correct format: 123-456-7890
                            </p>
                            <!--<div class="form-group">-->
                            <!--<label>Subject</label>-->
                            <!--<input type="text"-->
                            <!--class="form-control"-->
                            <!--formControlName="subject">-->
                            <!--</div>-->

                            <div class="form-group">
                                <label>Body<sup>*</sup></label>
                                <textarea class="form-control"
                                          rows="10"
                                          required
                                          formControlName="body">
                               </textarea>
                                <p class="help-block alert alert-warning text-center mt-1"
                                   *ngIf="!f.body.valid && f.body.touched">
                                    <b>Body</b> is required
                                </p>
                            </div>

                            <div class="form-group">
                                <button type="submit"
                                        class="btn btn-primary btn-sm">
                                    Send
                                </button>
                            </div>

                            <p>
                                <small class="text-muted"><sup>*</sup> Required</small>
                            </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ad">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <img src="http://placehold.it/700x100" alt="">
        </div>
    </div>
</div>

<ddw-footer></ddw-footer>