<ddw-navbar></ddw-navbar>
<img src="https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/interior-bg.jpg"
     class="bannerPhotoURL">
<div class="container">
    <h1 class="title">Contact Us</h1>
</div>


<div class="row ad">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <img src="http://placehold.it/700x100" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="col-md-12">
            <p class="ml-5 contact-us">Contact Us</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <p class="address">
                            <b>DDW Administration</b><br>
                            4930 Del Ray Avenue <br>
                            Bethesda MD 20814 <br>
                            United States <br>
                            Phone: 301-272-0022 <br>
                            FAX: 301-654-3978
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="pt-2 pb-2 send-msg">Send Us A Message</h2>
                        <form>
                            <div class="form-group">
                                <label>Your First Name</label>
                                <input type="text"
                                       class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Your Last Name</label>
                                <input type="text"
                                       class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Your Email Address</label>
                                <input type="email"
                                       class="form-control">
                            </div>

                            <div class="form-group col-md-3 phone-number">
                                <label>Your Phone Number (optional)</label>
                                <input type="text"
                                       class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text"
                                       class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control"
                                          rows="10">
                               </textarea>
                            </div>

                            <div class="form-group">
                                <a href="#" class="btn btn-primary btn-sm">
                                    Send
                                </a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ad">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <img src="http://placehold.it/700x100" alt="">
        </div>
    </div>
</div>