<!-- * NAVBAR-PAGES * -->
<!--BEGIN MOBILE MENU-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top d-md-block d-lg-none d-xl-none">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw-white.png"
                 width="150" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            MENU
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><span>Register</span>
                    <strong class='caret'></strong></a>
                    <ul class='dropdown-menu'>
                        <span *ngFor="let regPage of registerPages$">
                        <li *ngIf="!regPage.isExtURL  && !regPage.isGrandchildPage"><a
                                [routerLink]="['/register/', regPage.url]">{{ regPage.title }}</a></li>
                        <li *ngIf="!regPage.isExtURL  && regPage.isGrandchildPage"><a
                                [routerLink]="['/register/', regPage.grandchildURL, regPage.url]">{{ regPage.title }}</a></li>
                        <li *ngIf="regPage.isExtURL"><a
                                [href]="regPage.extURL"
                                target="_blank">{{ regPage.title }}</a></li>
                            </span>
                    </ul>
                </li>
                <li class='dropdown'><a href='#' class='dropdown-toggle'
                                        data-toggle='dropdown'><span>Attendee Planning</span> <strong
                        class='caret'></strong></a>
                    <ul class='dropdown-menu'>
                        <span *ngFor="let attPage of attendeePlanningPages$">
                        <li *ngIf="!attPage.isExtURL && !attPage.isGrandchildPage"><a
                                [routerLink]="['/attendee-planning/',  attPage.url]">{{ attPage.title }}</a></li>
                        <li *ngIf="!attPage.isExtURL && attPage.isGrandchildPage"><a
                                [routerLink]="['/attendee-planning/', attPage.grandchildURL, attPage.url]">{{ attPage.title }}</a></li>
                        <li *ngIf="attPage.isExtURL"><a
                                [href]="attPage.extURL"
                                target="_blank">{{ attPage.title }}</a></li>
                        </span>
                    </ul>
                </li>
                <li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><span>Education</span>
                    <strong class='caret'></strong></a>
                    <ul class='dropdown-menu'>
                        <span *ngFor="let edPage of educationPages$">
                        <li *ngIf="!edPage.isExtURL && !edPage.isGrandchildPage"><a
                                [routerLink]="['/education/', edPage.url]">{{ edPage.title }}</a></li>
                        <li *ngIf="!edPage.isExtURL && edPage.isGrandchildPage"><a
                                [routerLink]="['/education/', edPage.grandchildURL, edPage.url]">{{ edPage.title }}</a></li>
                        <li *ngIf="edPage.isExtURL"><a
                                [href]="edPage.extURL"
                                target="_blank">{{ edPage.title }}</a></li>
                        </span>
                    </ul>
                </li>
                <li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><span>Exhibitor Information</span>
                    <strong class='caret'></strong></a>
                    <ul class='dropdown-menu'>
                        <span *ngFor="let exhPage of exhibitorInfoPages$">
                        <li *ngIf="!exhPage.isExtURL && !exhPage.isGrandchildPage"><a
                                [routerLink]="['/exhibitor-information/', exhPage.url]">{{ exhPage.title }}</a></li>
                        <li *ngIf="!exhPage.isExtURL && exhPage.isGrandchildPage"><a
                                [routerLink]="['/exhibitor-information/', exhPage.grandchildURL, exhPage.url]">{{ exhPage.title }}</a></li>
                        <li *ngIf="exhPage.isExtURL"><a
                                [href]="exhPage.extURL"
                                target="_blank">{{ exhPage.title }}</a></li>
                            </span>
                    </ul>
                </li>
                <li class='dropdown'><a href='#' class='dropdown-toggle'
                                        data-toggle='dropdown'><span>News & Medias</span> <strong
                        class='caret'></strong></a>
                    <ul class='dropdown-menu'>
                        <span *ngFor="let newsPage of newsAndMediaPages$">
                        <li *ngIf="!newsPage.isExtURL && !newsPage.isGrandchildPage"><a
                                [routerLink]="['/news/', newsPage.url]">{{ newsPage.title }}</a></li>
                        <li *ngIf="!newsPage.isExtURL && newsPage.isGrandchildPage"><a
                                [routerLink]="['/news/', newsPage.grandchildURL, newsPage.url]">{{ newsPage.title }}</a></li>
                        <li *ngIf="newsPage.isExtURL"><a
                                [href]="newsPage.extURL" target="_blank">{{ newsPage.title }}</a></li>
                            </span>
                    </ul>
                </li>
                <li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><span>Presenters</span>
                    <strong class='caret'></strong></a>
                    <ul class='dropdown-menu'>
                        <span *ngFor="let presPage of presentersPages$">
                        <li *ngIf="!presPage.isExtURL && !presPage.isGrandchildPage"><a
                                [routerLink]="['/presenters/', presPage.url]">{{ presPage.title }}</a></li>
                        <li *ngIf="!presPage.isExtURL && presPage.isGrandchildPage"><a
                                [routerLink]="['/presenters/', presPage.grandchildURL, presPage.url]">{{ presPage.title }}</a></li>
                        <li *ngIf="presPage.isExtURL"><a
                                [href]="presPage.extURL"
                                target="_blank">{{ presPage.title }}</a></li>
                            </span>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--END MOBILE MENU-->

<div class="fixed-top d-none d-sm-none d-md-none d-lg-block d-xl-block" id="TopHeader">
    <div class="container-fluid custom-nav">
        <div class="col-md-12">
            <div id="header">
                <div class="row">
                    <div class="col-md-2">
                        <a class="navbar-brand" [routerLink]="['/']">
                            <img class="img-responsive ddw-logo"
                                 src="https://higherlogicdownload.s3.amazonaws.com/GASTRO/44b1f1fd-aaed-44c8-954f-b0eaea6b0462/UploadedImages/ddw-color.png"
                                 alt="DDW Website">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <div class="row" *ngIf="customLinks">
                            <div class="col inline">
                                <div id="MPAuxNav" class="inline auxnav">
                                    <div cssselectorclass="MPAuxNav" id="AuxMenu" style="float: right;">
                                        <ul class="level1 static" tabindex="0" role="menubar"
                                            style="position: relative; width: auto; float: left;">
                                            <!-- * Custom Link 1 * -->
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url1">
                                                <a class="level1 MPAuxNav static"
                                                   [routerLink]="[customLinks.url1]"
                                                   tabindex="-1"
                                                   *ngIf="customLinks.url1 && !customLinks.isExtURL1">
                                                    {{ customLinks.text1 }}
                                                </a>
                                            </li>
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url1">
                                                <a class="level1 MPAuxNav static"
                                                   [href]="customLinks.url1"
                                                   tabindex="-1"
                                                   target="_blank"
                                                   *ngIf="customLinks.url1 && customLinks.isExtURL1">
                                                    {{ customLinks.text1 }}
                                                </a>
                                            </li>
                                            <!-- * Custom Link 2 * -->
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url2">
                                                <a class="level1 MPAuxNav static"
                                                   [routerLink]="[customLinks.url2]"
                                                   tabindex="-1"
                                                   *ngIf="customLinks.url2 && !customLinks.isExtURL2">
                                                    {{ customLinks.text2 }}
                                                </a>
                                            </li>
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url2">
                                                <a class="level1 MPAuxNav static"
                                                   [href]="customLinks.url2"
                                                   tabindex="-1"
                                                   target="_blank"
                                                   *ngIf="customLinks.url2 && customLinks.isExtURL2">
                                                    {{ customLinks.text2 }}
                                                </a>
                                            </li>
                                            <!-- * Custom Link 3 * -->
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url3">
                                                <a class="level1 MPAuxNav static"
                                                   [routerLink]="[customLinks.url3]"
                                                   tabindex="-1"
                                                   *ngIf="customLinks.url3 && !customLinks.isExtURL3">
                                                    {{ customLinks.text3 }}
                                                </a>
                                            </li>
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url3">
                                                <a class="level1 MPAuxNav static"
                                                   [href]="customLinks.url3"
                                                   tabindex="-1"
                                                   target="_blank"
                                                   *ngIf="customLinks.url3 && customLinks.isExtURL3">
                                                    {{ customLinks.text3 }}
                                                </a>
                                            </li>
                                            <!-- * Custom Link 4 * -->
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url4">
                                                <a class="level1 MPAuxNav static"
                                                   [routerLink]="[customLinks.url4]"
                                                   tabindex="-1"
                                                   *ngIf="customLinks.url4 && !customLinks.isExtURL4">
                                                    {{ customLinks.text4 }}
                                                </a>
                                            </li>
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url4">
                                                <a class="level1 MPAuxNav static"
                                                   [href]="customLinks.url4"
                                                   tabindex="-1"
                                                   target="_blank"
                                                   *ngIf="customLinks.url4 && customLinks.isExtURL4">
                                                    {{ customLinks.text4 }}
                                                </a>
                                            </li>
                                            <!-- * Custom Link 5 * -->
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url5">
                                                <a class="level1 MPAuxNav static"
                                                   [routerLink]="[customLinks.url5]"
                                                   tabindex="-1"
                                                   *ngIf="customLinks.url5 && !customLinks.isExtURL5">
                                                    {{ customLinks.text5 }}
                                                </a>
                                            </li>
                                            <li role="menuitem"
                                                class="static"
                                                style="position: relative; float: left;"
                                                *ngIf="customLinks.url5">
                                                <a class="level1 MPAuxNav static"
                                                   [href]="customLinks.url5"
                                                   tabindex="-1"
                                                   target="_blank"
                                                   *ngIf="customLinks.url5 && customLinks.isExtURL5">
                                                    {{ customLinks.text5 }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="clear: left;"></div>
                                </div>
                            </div>
                            <div class="col-2 inline networking pl-0 pr-0 mr-0">
                                <a href="https://www.facebook.com/DDWMeeting"
                                   target="_blank"
                                   rel="noopener">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="https://twitter.com/DDWMeeting"
                                   target="_blank"
                                   rel="noopener">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/user/DDWMeeting"
                                   target="_blank"
                                   rel="noopener">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://www.instagram.com/ddwmeeting"
                                   target="_blank" rel="noopener"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                            <div class="col-3 pl-0">
                                <div [innerHTML]="googleSearch | safeHtml" ddwRunScripts>
                                </div>
                            </div>
                        </div>

                        <!--<div class="inline pull-right d-sm-none d-md-block d-none d-sm-block">-->
                        <!--<form class="form-inline my-2 my-lg-0">-->
                        <!--<div class="input-group mb-3">-->
                        <!--<div [innerHTML]="googleSearch | safeHtml" ddwRunScripts></div>-->
                        <!--&lt;!&ndash;<input type="text"&ndash;&gt;-->
                        <!--&lt;!&ndash;class="form-control"&ndash;&gt;-->
                        <!--&lt;!&ndash;placeholder="Search"&ndash;&gt;-->
                        <!--&lt;!&ndash;aria-label="Search"&ndash;&gt;-->
                        <!--&lt;!&ndash;aria-describedby="search">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="input-group-append">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button class="btn btn-outline-secondarywaa text-secondary"&ndash;&gt;-->
                        <!--&lt;!&ndash;type="button"&ndash;&gt;-->
                        <!--&lt;!&ndash;id="search">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="fas fa-search"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--</form>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;END SEARCH&ndash;&gt;-->


                        <!--&lt;!&ndash;BEGIN SOCIAL&ndash;&gt;-->
                        <!--<div class="inline networking pull-right"><a href="https://www.facebook.com/DDWMeeting"-->
                        <!--target="_blank"-->
                        <!--rel="noopener"><i class="fab fa-facebook"></i></a>-->
                        <!--<a-->
                        <!--href="https://twitter.com/DDWMeeting" target="_blank" rel="noopener"><i-->
                        <!--class="fab fa-twitter"></i></a> <a href="https://www.youtube.com/user/DDWMeeting"-->
                        <!--target="_blank" rel="noopener"><i-->
                        <!--class="fab fa-youtube"></i></a> <a href="https://www.instagram.com/ddwmeeting"-->
                        <!--target="_blank" rel="noopener"><i-->
                        <!--class="fab fa-instagram"></i></a></div>-->
                        <!--&lt;!&ndash;END SOCIAL&ndash;&gt;-->


                        <!--&lt;!&ndash;BEGIN LINKS&ndash;&gt;-->
                        <!--<div class="inline pull-right d-sm-none d-md-block d-none d-sm-block">-->
                        <!--<div id="MPAuxNav" class="inline vertical-align-middle auxnav">-->
                        <!--<div cssselectorclass="MPAuxNav" id="AuxMenu" style="float: left;">-->
                        <!--<ul class="level1 static" tabindex="0" role="menubar"-->
                        <!--style="position: relative; width: auto; float: left;">-->
                        <!--<li role="menuitem" class="static" style="position: relative; float: left;">-->
                        <!--<a title="How to get in contact with us"-->
                        <!--class="level1 MPAuxNav static"-->
                        <!--[routerLink]="['/contactus']" tabindex="-1">Contact Us</a></li>-->
                        <!--<li role="menuitem" class="static" style="position: relative; float: left;">-->
                        <!--<a class="level1 MPAuxNav static"-->
                        <!--[routerLink]="['/careercenter']"-->
                        <!--target="_blank"-->
                        <!--tabindex="-1">Career Center</a>-->
                        <!--</li>-->
                        <!--<li role="menuitem" class="static" style="position: relative; float: left;"><a-->
                        <!--class="level1 MPAuxNav static"-->
                        <!--href="http://blog.ddw.org"-->
                        <!--target="_blank"-->
                        <!--tabindex="-1">DDW-->
                        <!--Blog</a></li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--<div style="clear: left;"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--END LINKS-->


                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="nav">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg bg-light">

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdownMenuLink1"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    Register
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                    <span *ngFor="let regPage of registerPages$">
                                        <li class="dropdown-item"
                                            *ngIf="!regPage.isExtURL  && !regPage.isGrandchildPage">
                                            <a [routerLink]="['/register/', regPage.url]">{{ regPage.title }}</a>
                                        </li>
                                        <li class="dropdown-item"
                                            *ngIf="!regPage.isExtURL  && regPage.isGrandchildPage">
                                            <a [routerLink]="['/register/', regPage.grandchildURL, regPage.url]">
                                                {{ regPage.title }}
                                            </a>
                                        </li>
                                        <li class="dropdown-item"
                                            *ngIf="regPage.isExtURL">
                                            <a [href]="regPage.extURL"
                                               target="_blank">{{ regPage.title }}
                                            </a>
                                        </li>
                                    </span>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdownMenuLink2"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    Attendee Planning
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                    <span *ngFor="let attPage of attendeePlanningPages$">
                                        <li class="dropdown-item"
                                            *ngIf="!attPage.isExtURL && !attPage.isGrandchildPage"><a
                                                [routerLink]="['/attendee-planning/',  attPage.url]">
                                            {{ attPage.title }}
                                        </a>
                                        </li>
                                        <li class="dropdown-item"
                                            *ngIf="!attPage.isExtURL && attPage.isGrandchildPage"><a
                                                [routerLink]="['/attendee-planning/', attPage.grandchildURL, attPage.url]">{{ attPage.title }}</a>
                                        </li>
                                        <li class="dropdown-item"
                                            *ngIf="attPage.isExtURL">
                                            <a [href]="attPage.extURL"
                                               target="_blank">{{ attPage.title }}
                                            </a>
                                        </li>
                                    </span>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdownMenuLink3"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    Education
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                    <span *ngFor="let edPage of educationPages$">
                                        <li class="dropdown-item"
                                            *ngIf="!edPage.isExtURL  && !edPage.isGrandchildPage">
                                            <a [routerLink]="['/education/', edPage.url]">{{ edPage.title }}</a>
                                        </li>
                                        <li class="dropdown-item" *ngIf="!edPage.isExtURL  && edPage.isGrandchildPage">
                                            <a [routerLink]="['/education/', edPage.grandchildURL, edPage.url]">
                                                {{ edPage.title }}
                                            </a>
                                        </li>
                                        <li class="dropdown-item"
                                            *ngIf="edPage.isExtURL"><a
                                                [href]="edPage.extURL"
                                                target="_blank">{{ edPage.title }}
                                        </a>
                                        </li>
                                    </span>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdownMenuLink4"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    Exhibitor Information
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                                    <span *ngFor="let exhPage of exhibitorInfoPages$">
                                        <li class="dropdown-item"
                                            *ngIf="!exhPage.isExtURL  && !exhPage.isGrandchildPage"><a
                                                [routerLink]="['/exhibitor-information/', exhPage.url]">{{ exhPage.title
                                            }}</a></li>
                                        <li class="dropdown-item"
                                            *ngIf="!exhPage.isExtURL  && exhPage.isGrandchildPage">
                                            <a [routerLink]="['/exhibitor-information/', exhPage.grandchildURL, exhPage.url]">{{ exhPage.title }}
                                            </a>
                                        </li>
                                        <li class="dropdown-item"
                                            *ngIf="exhPage.isExtURL">
                                            <a [href]="exhPage.extURL"
                                               target="_blank">{{ exhPage.title }}
                                            </a>
                                        </li>
                                    </span>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    News & Media
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                                    <span *ngFor="let newsPage of newsAndMediaPages$">
                                        <li class="dropdown-item"
                                            *ngIf="!newsPage.isExtURL && !newsPage.isGrandchildPage">
                                            <a [routerLink]="['/news/',  newsPage.url]">{{ newsPage.title }}</a>
                                        </li>
                                        <li class="dropdown-item"
                                            *ngIf="!newsPage.isExtURL && newsPage.isGrandchildPage">
                                            <a [routerLink]="['/news/', newsPage.grandchildURL, newsPage.url]">{{ newsPage.title }}</a>
                                        </li>
                                        <li class="dropdown-item"
                                            *ngIf="newsPage.isExtURL"><a
                                                [href]="[newsPage.extURL]" target="_blank">{{ newsPage.title }}
                                        </a>
                                        </li>
                                    </span>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink6"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Presenters
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink6">
                                    <span *ngFor="let presPage of presentersPages$">
                                    <li class="dropdown-item"
                                        *ngIf="!presPage.isExtURL && !presPage.isGrandchildPage">
                                        <a [routerLink]="['/presenters/', presPage.url]">{{ presPage.title }}</a>
                                    </li>
                                    <li class="dropdown-item"
                                        *ngIf="!presPage.isExtURL && presPage.isGrandchildPage"><a
                                            [routerLink]="['/presenters/', presPage.grandchildURL, presPage.url]">{{ presPage.title }}</a></li>
                                    <li class="dropdown-item"
                                        *ngIf="presPage.isExtURL"><a
                                            [href]="presPage.extURL"
                                            target="_blank">{{ presPage.title }}</a>
                                    </li>
                                    </span>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>


    </div>


</div>

