<!-- * ADMIN-MOBILE-FOOTERNAV * -->
<nav class="navbar navbar-footer fixed-bottom navbar-inverse bg-dark text-center">

    <span *ngIf="!isLoggedIn;">
        <button mat-button
                class="menu-icon"
                routerLinkActive="active"
                [routerLink]="['/admin/login']">
            <i class="fa fa-sign-in-alt"></i>
            <br>
            <small>Login</small>
        </button>

        <button mat-button
                class="menu-icon"
                routerLinkActive="active"
                *ngIf="!isLoggedIn && allowSignup"
                [routerLink]="['/admin/signup']">
            <i class="fa fa-address-card"></i>
            <br>
            <small>Signup</small>
        </button>

        <button mat-button
                class="menu-icon"
                routerLinkActive="active"
                *ngIf="!isLoggedIn && allowSettings"
                [routerLink]="['/admin/settings']">
            <i class="fa fa-wrench"></i>
            <br>
            <small>Settings</small>
        </button>
    </span>

    <span *ngIf="isLoggedIn">
        <!-- * IF logged in * -->
        <button mat-button
                class="menu-icon"
                routerLinkActive="active"
                *ngIf="authService.afsUser$ | async"
                [routerLink]="['/admin/pages']">
            <i class="fa fa-copy fa-lg"></i>
            <br>
            <small class="footernav-txt">Pages</small>
        </button>

        <button mat-button
                class="menu-icon"
                routerLinkActive="active"
                *ngIf="authService.afsUser$ | async"
                [routerLinkActiveOptions]="{exact:true}"
                [routerLink]="['/admin/pages/new']">
            <i class="fa fa-file-plus fa-lg"></i>
            <br>
            <small class="footernav-txt">New Page</small>
        </button>

        <button mat-button
                class="menu-icon"
                routerLinkActive="active"
                *ngIf="authService.afsUser$ | async"
                [routerLink]="['/admin/users']">
            <i class="fa fa-users fa-lg"></i>
            <br>
            <small class="footernav-txt">Users</small>
        </button>

        <button mat-button
                [matMenuTriggerFor]="appMenu"
                class="menu-icon"
                *ngIf="authService.afsUser$ | async">
                <i class="fa fa-ellipsis-h fa-lg"></i>
                <br>
                <small class="footernav-txt">More</small>
        </button>

        <!-- * Pop-up Menu * -->
        <!-- * Trigger * -->

        <mat-menu #appMenu="matMenu" class="bg-dark">
            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="authService.afsUser$ | async"
                    [routerLink]="['/admin/users/', localUser.uid]">
                <i class="fa fa-user"></i>&nbsp;
                <small>My Profile</small>
            </button>

            <div class="divider"></div>

            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="isLoggedIn && allowSettings"
                    [routerLink]="['/admin/meta']">
                <i class="fa fa-chart-line"></i>&nbsp;
                <small>Meta</small>
            </button>

            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="isLoggedIn"
                    [routerLink]="['/admin/ads']">
                <i class="fa fa-money-bill-wave"></i>&nbsp;
                <small>Advertising</small>
            </button>

            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="isLoggedIn && allowSettings"
                    [routerLink]="['/admin/settings']">
                <i class="fa fa-wrench"></i>&nbsp;
                <small>Settings</small>
            </button>

            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="isLoggedIn"
                    [routerLink]="['/admin/cards']">
                <i class="fa fa-passport"></i>&nbsp;
                <small>Cards</small>
            </button>

            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="isLoggedIn"
                    [routerLink]="['/admin/featured-posts']">
                <i class="fa fa-passport"></i>&nbsp;
                <small>Featured Posts</small>
            </button>

            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="isLoggedIn"
                    [routerLink]="['/admin/press-releases']">
                <i class="fa fa-bullhorn"></i>&nbsp;
                <small>Press Releases</small>
            </button>


            <div class="divider"></div>


            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="isLoggedIn"
                    target="_blank"
                    [routerLink]="['/']">
                <i class="fa fa-laptop"></i>&nbsp;
                <small>Live Site</small>
            </button>

            <button mat-menu-item
                    class="menu-icon"
                    routerLinkActive="active"
                    *ngIf="authService.afsUser$ | async;"
                    (click)="onLogout()">
                <i class="fa fa-sign-out-alt"></i>
                <small>Logout</small>
            </button>
            <!-- * Spacer * -->
            <div class="spacer"></div>
        </mat-menu>

    </span>


</nav>