<!-- * CALENDAR-NEW * -->
<div class="row mb-5 mt-3">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center pb-4 pt-3 admin-badge">
                    <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-color.png"
                         alt="ddw logo" class="ddw-logo" style="max-width:200px;"> <br>
                    <i class="fa fa-calendar"></i>&nbsp;Admin
                    New Calendar
                </h1>
            </div>
        </div>
    </div>
</div>

<!-- * button nav group * -->
<div class="row m-4 pl-5" [@simpleFadeAnimation]="'in'">
    <div class="container">
        <div class="text-right mr-5">
            <div class="btn-group btn-group-md float-right"
                 role="group"
                 aria-label="Basic example">
                <a [routerLink]="['/admin/settings']"
                   class="btn btn-default">
                    <i class="fa fa-wrench"></i>&nbsp;Settings
                </a>
                <a [routerLink]="['/admin/calendar']"
                   class="btn btn-default">
                    <i class="fa fa-arrow-square-left"></i>&nbsp;
                    Calendar List</a>
            </div>
        </div>
    </div>
</div>


<!-- * Event  * -->
<div class="row" [@simpleFadeAnimation]="'in'">
    <div class="container mb-5">
        <div class="col-md-12">
            <ng-template #loading>
                <div class="text-center text-dark p-5">
                    <i class="far fa-spinner fa-pulse"></i>
                    <br>
                    loading...
                </div>
            </ng-template>
            <div class="card">
                <div class="card-body">
                    <form (ngSubmit)="onCalendarCreate(newCalForm.value)"
                          [formGroup]="newCalForm"
                          *ngIf="newCalForm; else loading">

                        <div class="form-group">
                            <label>Title <br>
                                <small>Needs to be unique</small>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   formControlName="title"/>
                        </div>


                        <div class="form-group">
                            <label>Display Name <br>
                                <small>What's shown on the page; Does not need to be unique</small>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   formControlName="displayName"/>
                        </div>
                        <!-- * Date 1 * -->
                        <mat-expansion-panel class="bg-lighter">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <i class="fa fa-calendar-plus"></i>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Day One
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="form-group">
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-folder-tree"></i>
                                                </div>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="tab1Date"
                                                   placeholder="Tab Date - Ex: May 18"
                                                   formControlName="tab1Date">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar-alt"></i>
                                                </div>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="date1"
                                                   placeholder="Body Date - Ex: Saturday, May 18, 2019"
                                                   formControlName="date1">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Body Date 1</label>
                                <editor [apiKey]="mceApiKey"
                                        [init]="mceConfig"
                                        id="body"
                                        [formControl]="newCalForm.controls['body']">
                                </editor>
                            </div>
                        </mat-expansion-panel>


                        <!-- * Date 2 * -->
                        <mat-expansion-panel class="bg-lighter">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <i class="fa fa-calendar-plus"></i>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Day Two
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="form-group">
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-folder-tree"></i>
                                                </div>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="tab2Date"
                                                   placeholder="Tab Date - Ex: May 18"
                                                   formControlName="tab2Date">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar-alt"></i>
                                                </div>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="date2"
                                                   placeholder="Body Date - Ex: Saturday, May 18, 2019"
                                                   formControlName="date2">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-2">
                                <label>Body Date 2</label>
                                <editor [apiKey]="mceApiKey"
                                        [init]="mceConfig"
                                        id="body"
                                        [formControl]="newCalForm.controls['body2']">
                                </editor>
                            </div>
                        </mat-expansion-panel>


                        <!-- * Date 3 * -->
                        <mat-expansion-panel class="bg-lighter">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <i class="fa fa-calendar-plus"></i>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Day Three
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="form-group">
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-folder-tree"></i>
                                                </div>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="tab3Date"
                                                   placeholder="Tab Date - Ex: May 18"
                                                   formControlName="tab3Date">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar-alt"></i>
                                                </div>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="date3"
                                                   placeholder="Body Date - Ex: Saturday, May 18, 2019"
                                                   formControlName="date3">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Body Date 3</label>
                                <editor [apiKey]="mceApiKey"
                                        [init]="mceConfig"
                                        id="body"
                                        [formControl]="newCalForm.controls['body3']">
                                </editor>
                            </div>
                        </mat-expansion-panel>


                        <!-- * Date 4 * -->
                        <mat-expansion-panel class="bg-lighter">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <i class="fa fa-calendar-plus"></i>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Day Four
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="form-group">
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-folder-tree"></i>
                                                </div>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="tab4Date"
                                                   placeholder="Tab Date - Ex: May 18"
                                                   formControlName="tab4Date">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar-alt"></i>
                                                </div>
                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                   id="date4"
                                                   placeholder="Body Date - Ex: Saturday, May 18, 2019"
                                                   formControlName="date4">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Body Date 4</label>
                                <editor [apiKey]="mceApiKey"
                                        [init]="mceConfig"
                                        id="body"
                                        [formControl]="newCalForm.controls['body4']">
                                </editor>
                            </div>
                        </mat-expansion-panel>


                        <button type="submit" class="btn btn-secondary mb-5 mt-5">
                            <i class="fa fa-calendar"></i>&nbsp;Save Event
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


