<ul class="list-group">
    <li class="list-group-item">
        <a [routerLink]="['/admin/pages/new']"
           (click)="openLink($event)">
            <i class="fal fa-layer-plus"></i> New Page
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/admin/home']"
           (click)="openLink($event)">
            <i class="fal fa-home"></i> Home Page
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/admin/calendar/new']"
           (click)="openLink($event)">
            <i class="fal fa-calendar-plus"></i> New Calendar
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/admin/press-releases/new']"
           (click)="openLink($event)">
            <i class="fal fa-newspaper"></i> New Press Release
        </a>
    </li>

    <li class="list-group-item">
        <mat-divider></mat-divider>
        <a [routerLink]="['/admin/image-uploader']"
           (click)="openLink($event)">
            <i class="fal fa-images"></i> New Image
        </a>
    </li>

    <li class="list-group-item" *ngIf="isAdmin">
        <mat-divider></mat-divider>
        <a [routerLink]="['/admin/users/new']"
           (click)="openLink($event)">
            <i class="fal fa-user-plus"></i> New User
        </a>
    </li>
</ul>