<!-- * ADMIN-USER-EDIT * -->
<div class="row mb-4 mt-3">
    <div class="container">
        <div class="offset-md-10">
            <a class="btn btn-default"
               [routerLink]="['/admin/users']">
                <i class="fal fa-arrow-circle-left"></i>&nbsp;All Users
            </a>
        </div>
    </div>
</div>


<div class="row mb-5 mt-1">
    <div class="container">
        <div class="col-sm-12">
            <div class="form-group" *ngIf="user">
                <div class="card image-uploader">
                    <div class="card-body">
                        <p class="card-title">
                            Image Uploader
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="custom-file">
                                    <label class="custom-file-label" *ngIf="!downloadURL">
                                        Click To Select
                                    </label>
                                    <label class="custom-file-label text-truncate" *ngIf="downloadURL">
                                        {{ downloadURL | async }}
                                    </label>
                                    <input type="file"
                                           ddwDropZone
                                           class="custom-file-input"
                                           accept=".png, .jpg, jpeg"
                                           (change)="uploadImage($event)">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div *ngIf="downloadURL | async as url; else loadingURL">
                                    <p class="pb-2">
                                        <b>Copy and paste url into the Image URL input below:</b>
                                    </p>
                                    <p>
                                        <a [href]="url">
                                            {{ url }}
                                        </a>
                                    </p>
                                    <p><img [src]="url" style="max-width:100px;"></p>
                                </div>
                                <ng-template #loadingURL>
                                    <p class="text-center text-light">
                                        Upload Image, Then a URL will appear here. Copy and paste that link
                                        into Image URL below to use.
                                    </p>
                                </ng-template>
                            </div>
                        </div>

                        <div class="mt-4 mb-3" *ngIf="percentage | async as pct">
                            <progressbar class="progress-striped active"
                                         [value]="pct"
                                         type="primary"><i>{{ pct | number }}%</i>
                            </progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6" *ngIf="user">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Edit ({{ user.displayName }})</h2>
                    </div>

                    <form [formGroup]="editUserForm"
                          (ngSubmit)="onUpdateUser(editUserForm.value)">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email"
                                   class="form-control"
                                   [class.invalid]="!f.email.valid && f.email.touched"
                                   [(ngModel)]="user.email"
                                   formControlName="email">
                        </div>

                        <!-- * TODO: Create username from email function if blank * -->
                        <div class="form-group">
                            <label>Display Name
                                <small>(username)</small>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.displayName.valid && f.displayName.touched"
                                   [(ngModel)]="user.displayName"
                                   formControlName="displayName">
                        </div>

                        <div class="form-group">
                            <label>Job Title</label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.title.valid && f.title.touched"
                                   [(ngModel)]="user.title"
                                   formControlName="title">
                        </div>


                        <div class="form-group">
                            <label>Image <br>
                                <small>Use the Image Uploader to get string and replace the default here</small>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.photoURL.valid && f.photoURL.touched"
                                   [(ngModel)]="user.photoURL"
                                   formControlName="photoURL">
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox"
                                   class="form-check-input"
                                   id="admin"
                                   [(ngModel)]="user.admin"
                                   formControlName="admin">
                            <label class="form-check-label"
                                   for="admin">
                                Admin User?
                            </label>
                        </div>


                        <button type="submit"
                                [disabled]="!editUserForm.valid"
                                class="btn btn-primary btn-sm mb-5"><i class="fa fa-user-check"></i>&nbsp;Save
                        </button>
                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                            <a class="btn btn-warning btn-sm"
                               [routerLink]="['/admin/users']">
                                <i class="fa fa-undo"></i>&nbsp;Cancel
                            </a>
                        </div>

                        <p class="help-block alert alert-warning text-center"
                           *ngIf="!f.email.valid && f.email.touched">
                            Valid <b>Email</b> is required!
                        </p>

                        <p class="help-block alert alert-warning text-center"
                           *ngIf="!f.displayName.valid && f.displayName.touched">
                            <b>Display Name</b> is required!
                        </p>
                        <p class="help-block alert alert-warning text-center"
                           *ngIf="!f.title.valid && f.title.touched">
                            <b>Job Title</b> is required!
                        </p>

                        <!-- * Debugging * -->
                        <!--<code>-->
                        <!--<pre>Form value: {{ editUserForm.value | json }}</pre>-->
                        <!--</code>-->
                        <!--<code>-->
                        <!--<pre>Form value: {{ editUserForm.status | json }}</pre>-->
                        <!--</code>-->

                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-6" *ngIf="user">
            <div class="card">
                <div class="card-body">
                    <div class="btn-group float-right"
                         role="group"
                         aria-label="Basic example">
                        <a class="btn btn-warning btn-sm"
                           [routerLink]="['/admin/users']">
                            <i class="fa fa-undo"></i>&nbsp;Cancel
                        </a>
                        <button class="btn btn-danger btn-sm"
                                *ngIf="isAdmin"
                                (click)="onDeleteUser()">
                            <i class="fa fa-trash"></i>&nbsp;Delete
                        </button>
                    </div>
                    <img class="d-block ui-w-100 rounded-circle img-fluid"
                         [src]="user.photoURL"
                         [alt]="user.displayName">

                    <table class="table table-striped mt-4">
                        <tbody>
                        <tr>
                            <th scope="col">Username</th>
                            <td>{{ user.displayName }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Title</th>
                            <td>{{ user.title }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Admin</th>
                            <td>
                                <span class="badge badge-outline-success"
                                      *ngIf="user.admin">
                                    Yes
                                </span>
                                <span class="badge badge-outline-danger"
                                      *ngIf="!user.admin">
                                    No
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Online</th>
                            <td>
                                <span class="badge badge-outline-success"
                                      *ngIf="user.isOnline">
                                  Yes
                                </span>
                                <span class="badge badge-outline-danger"
                                      *ngIf="!user.isOnline">
                                   No
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last time online: {{ user.loginDate | date:'fullDate' }}</small>
                </div>
            </div>
        </div>

    </div>
</div>
