.app-brand.demo, li.active > ul {
    background-color: #1C202B;
}

a.sidenav-link {
    cursor: pointer;
}

li.sidenav-item {
    font-size: 1em;
}

li.sub-item {
    margin-left: 1.5em;
}

.sidenav-vertical
.sidenav-menu
.sidenav-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

a.sidenav-link {
    text-decoration: none;
}

img.ddw-logo {
    /*margin-left: em;*/
    /*max-width: 150px;*/
}