/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Roboto:400,400i,500,500i');

/* Front Pages */
p, li  {
    font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
    line-height: 2;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
}


p > a:link, li > a:link {
    color: #2e6da4;
    text-decoration: underline;
}

.image-uploader * {
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
}

a.page-link {
    text-decoration: none;
}

/* Theme colors */

.bg-dark {
    background-color: #1C202B;
}

.text-dark {
    color: #1C202B;
}

.btn-default {
    color: #282E3E;
    /*background: #9d9fa1;*/
}

.btn-default .badge {
    color: #fff;
    background: #282E3E;
}

/* CUSTOM FRONT-END STYLES */
.cta {
    background-color: #003f5f;
    color: #ffffff;
    margin: 5em 0;
}

.cta-left {
    padding: 0;
}

.cta-right {
    padding: 3em 1em 0 4em;
    vertical-align: middle;
}

.cta-right > blockquote {
    font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
}

.lg-quote {
    font-size: 32px;
}


/* Application wide Styles */
body {
    background-color: #fff;
}

/* removes blue halo */
button:focus {
    outline: 0;
}

.bg-dark {
    background-color: #282E3E !important;
}

.full-width {
    width: 100%;
}

a.back-pages {
    text-decoration: none;
    margin: 2em 0;
}

.snackbar-success {
    background-color: #CEEAD5;
    color: #154D20;
}

.snackbar-info {
    background-color: #CBE9EF;
    color: #0F4A55;
}

.snackbar-warning {
    background-color: #FFF3CF;
    color: #846315;
}

.snackbar-danger {
    background-color: #F7D1D5;
    color: #874348;
}

.mat-button-wrapper {
    color: #333333;
}

.mat-button-wrapper > i {
    color: #ffffff;
}

input.invalid {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #701D26;
    background-color: #F7D7DB;
    background-clip: padding-box;
    border: 1px solid #CBB1B4;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.card.image-uploader, .image-uploader {
    border: 2px dashed #ccc;
}

/* Cards (Universal) */
ddw-admin-cards.col-md-4 {
    padding: 0;
}

i.fa-spinner {
    font-size: 4em;
}

/* Featured Blog Posts */

a.btn.btn-warning.btn-lg {
    background-color: #F47700;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 2em;
    font-size: 18px;
}

a.btn.btn-warning.btn-lg:hover {
    background-color: #FEB512;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 2em;
    font-size: 18px;
}
