/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* removes blue halo */
button:focus {
    outline: 0;
}

.bg-dark {
    background-color: #282E3E !important;
}

.full-width {
    width: 100%;
}

a.back-pages {
    text-decoration: none;
}
