<!-- * CALENDAR * -->
<div class="row mb-5 mt-3">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center text-secondary pb-4 pt-3">
                    <span class="text-dark">
               <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-color.png"
                    alt="ddw logo" class="ddw-logo" style="max-width:200px;"> <br>
                        <i class="fa fa-calendar"></i>&nbsp;Admin
                    </span> Calendar Edit
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row m-4 pl-5" [@simpleFadeAnimation]="'in'">
    <div class="container">
        <div class="text-right mr-5">
            <div class="btn-group btn-group-md float-right"
                 role="group"
                 aria-label="Basic example">
                <a [routerLink]="['/admin/settings']"
                   class="btn btn-default">
                    <i class="fa fa-wrench"></i>&nbsp;Settings
                </a>
                <a [routerLink]="['/admin/calendar']"
                   class="btn btn-default">
                    <i class="fa fa-arrow-square-left"></i>&nbsp;
                    Calendar List</a>
                <a [routerLink]="['/admin/calendar/new']"
                   class="btn btn-default">
                    <i class="fa fa-calendar-plus"></i>&nbsp;New Calendar
                </a>
            </div>
        </div>
    </div>
</div>


<!-- * Event  * -->
<div class="row" [@simpleFadeAnimation]="'in'">
    <div class="container mb-5">
        <div class="col-md-12">
            <ng-template #loading>
                <div class="text-center text-dark p-5">
                    <i class="far fa-spinner fa-pulse"></i>
                    <br>
                    loading...
                </div>
            </ng-template>
            <div class="card bg-lighter">
                <div class="card-body">
                    <form (ngSubmit)="onCalendarUpdate(updateCalForm.value)"
                          [formGroup]="updateCalForm"
                          *ngIf="calendar; else loading">

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   [(ngModel)]="calendar.title"
                                   formControlName="title"/>
                        </div>

                        <!-- * Date 1 * -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="fa fa-calendar-edit"></div>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Day One
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="form-group">
                                <label>Date 1</label>
                                <input type="text"
                                       class="form-control"
                                       bsDatepicker
                                       placement="top"
                                       [(ngModel)]="calendar.date1"
                                       formControlName="date1"
                                       [bsConfig]="bsConfig"/>
                            </div>

                            <div class="form-group">
                                <label>Body Date 1</label>
                                <ckeditor [config]="CkeditorConfig"
                                          [readonly]="false"
                                          debounce="500"
                                          [(ngModel)]="calendar.body1"
                                          [formControl]="updateCalForm.controls['body1']">
                                </ckeditor>
                            </div>
                        </mat-expansion-panel>


                        <!-- * Date 2 * -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="fa fa-calendar-edit"></div>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Day Two
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="form-group">
                                <label>Date 2</label>
                                <input type="text"
                                       class="form-control"
                                       bsDatepicker
                                       placement="top"
                                       [(ngModel)]="calendar.date2"
                                       formControlName="date2"
                                       [bsConfig]="bsConfig"/>
                            </div>

                            <div class="form-group">
                                <label>Body Date 2</label>
                                <ckeditor [config]="CkeditorConfig"
                                          [readonly]="false"
                                          debounce="500"
                                          [(ngModel)]="calendar.body2"
                                          [formControl]="updateCalForm.controls['body2']">
                                </ckeditor>
                            </div>
                        </mat-expansion-panel>


                        <!-- * Date 3 * -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="fa fa-calendar-edit"></div>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Day Three
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="form-group">
                                <label>Date 3</label>
                                <input type="text"
                                       class="form-control"
                                       bsDatepicker
                                       placement="top"
                                       [(ngModel)]="calendar.date3"
                                       formControlName="date3"
                                       [bsConfig]="bsConfig"/>
                            </div>

                            <div class="form-group">
                                <label>Body Date 3</label>
                                <ckeditor [config]="CkeditorConfig"
                                          [readonly]="false"
                                          debounce="500"
                                          [(ngModel)]="calendar.body3"
                                          [formControl]="updateCalForm.controls['body3']">
                                </ckeditor>
                            </div>
                        </mat-expansion-panel>


                        <!-- * Date 4 * -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="fa fa-calendar-edit"></div>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Day Four
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="form-group">
                                <label>Date 4</label>
                                <input type="text"
                                       class="form-control"
                                       bsDatepicker
                                       placement="top"
                                       [(ngModel)]="calendar.date4"
                                       formControlName="date4"
                                       [bsConfig]="bsConfig"/>
                            </div>

                            <div class="form-group">
                                <label>Body Date 4</label>
                                <ckeditor [config]="CkeditorConfig"
                                          [readonly]="false"
                                          debounce="500"
                                          [(ngModel)]="calendar.body4"
                                          [formControl]="updateCalForm.controls['body4']">
                                </ckeditor>
                            </div>
                        </mat-expansion-panel>


                        <button type="submit" class="btn btn-primary mb-5 mt-5">
                            <i class="fa fa-calendar"></i>&nbsp;Create Calendar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


