<!-- * CALENDAR * -->
<div class="row mb-5 mt-3">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center text-secondary pb-4 pt-3">
                    <span class="text-dark">
               <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-color.png"
                    alt="ddw logo" class="ddw-logo" style="max-width:200px;"> <br>
                        <i class="fa fa-calendar"></i>&nbsp;Admin
                    </span> Calendar Settings
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row m-4 pl-5" [@simpleFadeAnimation]="'in'">
    <div class="container">
        <a [routerLink]="['/admin/settings']" class="back-pages"><i class="fal fa-arrow-circle-left"></i>&nbsp;Settings</a>
        <div class="text-right mr-5">
            <a [routerLink]="['/admin/calendar']" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;Preview
                Calendar</a>
        </div>
    </div>
</div>


<!-- * Event  * -->
<div class="row" [@simpleFadeAnimation]="'in'">
    <div class="container mb-5">
        <div class="col-md-12">
            <ng-template #loading>
                <div class="text-center text-dark p-5">
                    <i class="far fa-spinner fa-pulse"></i>
                    <br>
                    loading...
                </div>
            </ng-template>
            <div class="card">
                <div class="card-body">
                    <form #calF="ngForm"
                          (ngSubmit)="onCalendarSubmit(calF)"
                          *ngIf="calendar; else loading">

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   name="title"
                                   [(ngModel)]="calendar.title"
                                   #calTitle="ngModel"/>
                            <p class="help-block alert alert-danger text-center"
                               [hidden]="calTitle.valid || calTitle.untouched">
                                <b>Title</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Column (day)</label>
                            <select class="custom-select"
                                    size="4"
                                    required
                                    name="column"
                                    [(ngModel)]="calendar.column"
                                    #calColumn="ngModel">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                            </select>
                            <p class="help-block alert alert-danger text-center"
                               [hidden]="calColumn.valid || calColumn.untouched">
                                <b>Column</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Event Date</label>
                            <input type="text"
                                   class="form-control"
                                   bsDatepicker
                                   required
                                   name="date"
                                   [(ngModel)]="calendar.date"
                                   [bsConfig]="bsConfig"
                                   #calDate="ngModel"/>
                            <p class="help-block alert alert-danger text-center"
                               [hidden]="calDate.valid || calDate.untouched">
                                <b>Date</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Start Time <br>
                                <b>Currently Set To: {{ calendar.startTime | date:'shortTime' }}</b>
                            </label>
                            <timepicker type="text"
                                        required
                                        name="startTime"
                                        class="form-control"
                                        [(ngModel)]="calendar.startTime"
                                        #calStart="ngModel">
                            </timepicker>
                            <p class="help-block alert alert-danger text-center"
                               [hidden]="calStart.valid || calStart.untouched">
                                <b>Start Time</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Start Time <br>
                                <b>Currently Set To: {{ calendar.endTime | date:'shortTime' }}</b>
                            </label>
                            <timepicker type="text"
                                        class="form-control"
                                        required
                                        name="endTime"
                                        [(ngModel)]="calendar.endTime"
                                        #calEnd="ngModel">
                            </timepicker>
                            <p class="help-block alert alert-danger text-center"
                               [hidden]="calEnd.valid || calEnd.untouched">
                                <b>End Time</b> is required!
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Body</label>
                            <textarea type="text"
                                      rows="5"
                                      class="form-control"
                                      placeholder="Enter body of event here..."
                                      required
                                      name="body"
                                      [(ngModel)]="calendar.body"
                                      #calBody="ngModel">
                                <p class="help-block alert alert-danger text-center"
                                   [hidden]="calBody.valid || calBody.untouched">
                                 <b>Body</b> is required!
                            </p>
                            </textarea>
                        </div>

                        <button type="submit" class="btn btn-primary mb-5">
                            <i class="fa fa-calendar"></i>&nbsp;Save Event
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


