label {
    line-height: 1.3em;
    font-size: 16px;
}

p {
    font-family: 'Helvetica Neue', Roboto, Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
}

.mat-expansion-panel {
    box-shadow: none !important;
    border: 1px solid #eaeaea;
    border-top-color: #fcfcfc;
}