<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card admin-badge-card">
            <div class="card-body">
                <h1 class="text-center pb-4 pt-3 admin-badge">
                    <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-color.png"
                         alt="ddw logo" class="ddw-logo" style="max-width:200px;"> <br>
                    <i class="fa fa-window-alt"></i>&nbsp;Admin
                    Alert Modal
                </h1>
            </div>
        </div>
    </div>
</div>


<div class="row m-4 pl-5">
    <div class="container">
        <div class="offset-md-10">
            <a [routerLink]="['/admin/settings']" class="btn btn-default">
                <i class="fa fa-wrench"></i>&nbsp;Settings
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="container mb-5">
        <div class="col-md-12">
            <ng-template #loading>
                <div class="text-center text-dark p-5">
                    <i class="far fa-spinner fa-pulse"></i>
                    <br>
                    <span class="pt-2">loading...</span>
                </div>
            </ng-template>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="modalForm"
                          (ngSubmit)="onModalSubmit(modalForm.value)"
                          *ngIf="modal; else loading">

                        <div class="form-group" *ngIf="modal.author">
                            <p class="mt-2 info text-right">
                                <i class="fa fa-clock"></i>&nbsp;
                                {{ modal.updatedAt | date:'medium' }} <br>
                                <i class="fa fa-user"></i>&nbsp;{{ modal.author }}
                            </p>
                        </div>

                        <!-- * Title * -->
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text"
                                   class="form-control"
                                   [class.invalid]="!f.title.valid && f.title.touched"
                                   formControlName="title">
                        </div>

                        <!-- * Body  * -->
                        <div class="form-group">
                            <editor [apiKey]="mceApiKey"
                                    [init]="mceConfig"
                                    id="body"
                                    [formControl]="modalForm.controls['body']">
                            </editor>
                        </div>

                        <!-- * Button Text * -->
                        <div class="form-group">
                            <label>Button Text</label>
                            <input type="text"
                                   class="form-control"
                                   formControlName="btnText">
                        </div>

                        <!-- * Show Checkbox  * -->
                        <div class="form-group mt-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input show"
                                       id="show"
                                       formControlName="show">
                                <label class="custom-control-label show"
                                       for="show">Activate on homepage?
                                </label>
                            </div>
                        </div>


                        <button type="submit"
                                class="btn btn-secondary mb-5 mt-3 full-width">
                            <i class="fa fa-window-alt"></i>&nbsp;Save Alert Modal
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
