<!-- * ADMIN-CARDS-EDIT * -->
<!-- * Image Uploader * -->
<div class="mt-5">
    <ddw-admin-image-uploader-item></ddw-admin-image-uploader-item>
</div>


<!-- * CARDS * -->

<div class="row mt-5">
    <div class="container-fluid new-page">
        <div class="row">
            <!-- * Card 1 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <!-- * PREVIEW * -->
                    <ng-template #card1Popup>
                        <div class="card">
                            <img class="card-img-top"
                                 [src]="card1.photoURL"
                                 [alt]="card1.title">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ card1.title }}</h5>
                                <p class="card-text">{{ card1.body }}</p>
                                <p class="text-center">
                                    <a [href]="card1.url"
                                       class="btn btn-warning btn-sm">
                                        {{ card1.buttonString }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <button class="btn btn-light"
                            placement="top"
                            [popover]="card1Popup">
                        <i class="fa fa-eye"></i> Preview
                    </button>
                    <!-- *  Card Start * -->
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Card 1
                                <small class="text-secondary"><i class="fa fa-align-left"></i></small>
                            </h4>
                        </div>
                        <form [formGroup]="cardForm1"
                              (ngSubmit)="onUpdateCard1(cardForm1.value)"
                              *ngIf="card1; else loading">

                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of card)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card1.photoURL"
                                       formControlName="photoURL">
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card1.title"
                                       formControlName="title">
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <textarea type="text"
                                          rows="5"
                                          class="form-control"
                                          [(ngModel)]="card1.body"
                                          formControlName="body">
                                </textarea>
                            </div>

                            <div class="form-group">
                                <label>Button Text</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card1.buttonString"
                                       formControlName="buttonString">
                            </div>


                            <div class="form-group">
                                <label>Button Link</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card1.url"
                                       formControlName="url">
                            </div>


                            <button type="submit"
                                    [disabled]="!cardForm1.valid"
                                    class="btn btn-secondary full-width mb-3 mt-2">
                                <i class="fa fa-passport"></i>&nbsp;Update
                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <!-- * Card 2 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <!-- * PREVIEW * -->
                    <ng-template #card2Popup>
                        <div class="card">
                            <img class="card-img-top"
                                 [src]="card2.photoURL"
                                 [alt]="card2.title">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ card2.title }}</h5>
                                <p class="card-text">{{ card2.body }}</p>
                                <p class="text-center">
                                    <a [href]="card2.url"
                                       class="btn btn-warning btn-sm">
                                        {{ card2.buttonString }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <button class="btn btn-light"
                            placement="top"
                            [popover]="card2Popup">
                        <i class="fa fa-eye"></i> Preview
                    </button>
                    <!-- *  Card Start * -->
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Card 2
                                <small class="text-secondary"><i class="fa fa-align-center"></i></small>
                            </h4>
                        </div>
                        <form [formGroup]="cardForm2"
                              (ngSubmit)="onUpdateCard2(cardForm2.value)"
                              *ngIf="card2; else loading">

                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of card)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card2.photoURL"
                                       formControlName="photoURL">
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card2.title"
                                       formControlName="title">
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <textarea type="text"
                                          rows="5"
                                          class="form-control"
                                          [(ngModel)]="card2.body"
                                          formControlName="body">
                                </textarea>
                            </div>

                            <div class="form-group">
                                <label>Button Text</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card2.buttonString"
                                       formControlName="buttonString">
                            </div>


                            <div class="form-group">
                                <label>Button Link</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card2.url"
                                       formControlName="url">
                            </div>


                            <button type="submit"
                                    [disabled]="!cardForm2.valid"
                                    class="btn btn-secondary full-width mb-3 mt-2">
                                <i class="fa fa-passport"></i>&nbsp;Update
                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <!-- * Card 3 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <!-- * PREVIEW * -->
                    <ng-template #card3Popup>
                        <div class="card">
                            <img class="card-img-top"
                                 [src]="card3.photoURL"
                                 [alt]="card3.title">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ card3.title }}</h5>
                                <p class="card-text">{{ card3.body }}</p>
                                <p class="text-center">
                                    <a [href]="card3.url"
                                       class="btn btn-warning btn-sm">
                                        {{ card3.buttonString }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <button class="btn btn-light"
                            placement="top"
                            [popover]="card3Popup">
                        <i class="fa fa-eye"></i> Preview
                    </button>
                    <!-- *  Card Start * -->
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Card 3
                                <small class="text-secondary"><i class="fa fa-align-right"></i></small>
                            </h4>
                        </div>
                        <form [formGroup]="cardForm3"
                              (ngSubmit)="onUpdateCard3(cardForm3.value)"
                              *ngIf="card3; else loading">

                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of card)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card3.photoURL"
                                       formControlName="photoURL">
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card3.title"
                                       formControlName="title">
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <textarea type="text"
                                          rows="5"
                                          class="form-control"
                                          [(ngModel)]="card3.body"
                                          formControlName="body">
                                </textarea>

                            </div>

                            <div class="form-group">
                                <label>Button Text</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card3.buttonString"
                                       formControlName="buttonString">
                            </div>


                            <div class="form-group">
                                <label>Button Link</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="card3.url"
                                       formControlName="url">
                            </div>

                            <button type="submit"
                                    [disabled]="!cardForm3.valid"
                                    class="btn btn-secondary full-width mb-3 mt-2">
                                <i class="fa fa-passport"></i>&nbsp;Update
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




