i.fa-spinner {
    font-size: 4em;
}

.card.image-uploader {
    border: 2px dashed #ccc;
}

.btn-light {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Cards */
a.btn.btn-warning.btn-sm {
    background-color: #F47700;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
}

a.btn.btn-warning:hover.btn-sm {
    background-color: #FEB512;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
}
