<div class="row mb-5 mt-3">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center text-secondary pb-4 pt-3">
                    <span class="text-dark">
               <img src="https://s3.amazonaws.com/DDW/ddw-org/images/logos/ddw-color.png"
                    alt="ddw logo" class="ddw-logo" style="max-width:200px;"> <br>
                        <i class="fa fa-passport"></i>&nbsp;Admin
                    </span> Featured Blog Posts
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="container">
    <a class="text-primary back-pages"
       [routerLink]="['/admin/pages']"><i class="fal fa-arrow-circle-left"></i>&nbsp;All Pages
    </a>
  </div>
</div>

<div class="row text-right mb-4">
  <div class="container">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <a class="btn btn-warning"
         [routerLink]="['/admin/pages']">
        <i class="fa fa-undo"></i>&nbsp;Cancel
      </a>
    </div>
  </div>
</div>

<!-- * Image Uploader * -->
<div class="row mb-5">
  <div class="container">
    <div class="col">
      <div class="card bg-light image-uploader">
        <div class="card-body">
          <h5 class="card-title">
            Image Uploader
          </h5>
          <div class="row">
            <div class="col-sm-4">
              <div class="custom-file">
                <label class="custom-file-label" *ngIf="!downloadURL">
                  Click To Select
                </label>
                <label class="custom-file-label text-truncate" *ngIf="downloadURL">
                  {{ downloadURL | async }}
                </label>
                <input type="file"
                       ddwDropZone
                       class="custom-file-input"
                       accept=".png, .jpg, jpeg"
                       (change)="uploadImage($event)">
              </div>
            </div>
            <div class="col">
              <div *ngIf="downloadURL | async as url; else loadingURL">
                <p class="pb-2">
                  <b>Copy and paste url into the Image URL input below:</b>
                </p>
                <p>
                  <a [href]="url">
                    {{ url }}
                  </a>
                </p>
                <p><img [src]="url" style="max-width:100px;"></p>
              </div>
              <ng-template #loadingURL>
                <p class="text-center text-light">
                  Upload Image, Then a URL will appear here. Copy and paste that link
                  into any Image URL to use throughout the site (posts below).
                </p>
              </ng-template>
            </div>
          </div>


          <div class="mt-4 mb-3" *ngIf="percentage | async as pct">
            <progressbar class="progress-striped active"
                         [value]="pct"
                         type="primary"><i>Image Upload {{ pct | number }}%</i>
            </progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- * POSTS * -->

<div class="row">
  <div class="container new-page">
    <div class="row">
      <!-- * Post 1 * -->
      <div class="col-md-4">
        <ng-template #loading>
          <div class="text-center text-dark p-5">
            <i class="far fa-spinner fa-pulse"></i>
            <br>
            loading...
          </div>
        </ng-template>
        <div class="card mb-5">
          <!-- * PREVIEW * -->
          <ng-template #post1Popup>
            <div class="card">
              <img class="card-img-top rounded-circle"
                   [src]="post1.photoURL">
              <div class="card-body">
                <p class="card-text">{{ post1.body }}</p>
                <p class="text-center">
                  <a [href]="post1.url"
                     class="text-primary">
                    {{ post1.linkText }}
                  </a>
                </p>
              </div>
            </div>
          </ng-template>
          <button class="btn btn-light"
                  placement="top"
                  [popover]="post1Popup">
            <i class="fa fa-eye"></i> Preview
          </button>
          <!-- *  Post Start * -->
          <div class="card-body">
            <div class="card-title">
              <h4>Post 1
                <small class="text-secondary">(left)</small>
              </h4>
            </div>
            <form [formGroup]="postForm1"
                  (ngSubmit)="onUpdatePost1(postForm1.value)"
                  *ngIf="post1; else loading">

              <div class="form-group">
                <label>Body</label>
                <textarea type="text"
                          rows="5"
                          class="form-control"
                          [(ngModel)]="post1.body"
                          formControlName="body">
                                </textarea>
              </div>

              <div class="form-group">
                <label>Link Text</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post1.linkText"
                       formControlName="linkText">
              </div>


              <div class="form-group">
                <label>URL</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post1.url"
                       formControlName="url">
              </div>


              <div class="form-group">
                <label>Image URL
                  <small>(Image at the top of post)</small>
                </label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post1.photoURL"
                       formControlName="photoURL">
              </div>

              <button type="submit"
                      [disabled]="!postForm1.valid"
                      class="btn btn-primary btn-sm mb-5">
                <i class="fa fa-passport"></i>&nbsp;Update
              </button>
            </form>

          </div>
        </div>
      </div>

      <!-- * Post 2 * -->
      <div class="col-md-4">
        <ng-template #loading>
          <div class="text-center text-dark p-5">
            <i class="far fa-spinner fa-pulse"></i>
            <br>
            loading...
          </div>
        </ng-template>
        <div class="card mb-5">
          <!-- * PREVIEW * -->
          <ng-template #post2Popup>
            <div class="card">
              <img class="card-img-top rounded-circle"
                   [src]="post2.photoURL">
              <div class="card-body">
                <p class="card-text">{{ post2.body }}</p>
                <p class="text-center">
                  <a [href]="post2.url"
                     class="text-primary">
                    {{ post2.linkText }}
                  </a>
                </p>
              </div>
            </div>
          </ng-template>
          <button class="btn btn-light"
                  placement="top"
                  [popover]="post2Popup">
            <i class="fa fa-eye"></i> Preview
          </button>
          <!-- *  Post Start * -->
          <div class="card-body">
            <div class="card-title">
              <h4>Post 2
                <small class="text-secondary">(Middle)</small>
              </h4>
            </div>
            <form [formGroup]="postForm2"
                  (ngSubmit)="onUpdatePost2(postForm2.value)"
                  *ngIf="post2; else loading">

              <div class="form-group">
                <label>Body</label>
                <textarea type="text"
                          rows="5"
                          class="form-control"
                          [(ngModel)]="post2.body"
                          formControlName="body">
                                </textarea>
              </div>

              <div class="form-group">
                <label>Link Text</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post2.linkText"
                       formControlName="linkText">
              </div>


              <div class="form-group">
                <label>URL</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post2.url"
                       formControlName="url">
              </div>


              <div class="form-group">
                <label>Image URL
                  <small>(Image at the top of post)</small>
                </label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post2.photoURL"
                       formControlName="photoURL">
              </div>


              <button type="submit"
                      [disabled]="!postForm1.valid"
                      class="btn btn-primary btn-sm mb-5">
                <i class="fa fa-passport"></i>&nbsp;Update
              </button>
            </form>

          </div>
        </div>
      </div>

      <!-- * Post 3 * -->
      <div class="col-md-4">
        <ng-template #loading>
          <div class="text-center text-dark p-5">
            <i class="far fa-spinner fa-pulse"></i>
            <br>
            loading...
          </div>
        </ng-template>
        <div class="card mb-5">
          <!-- * PREVIEW * -->
          <ng-template #post3Popup>
            <div class="card">
              <img class="card-img-top rounded-circle"
                   [src]="post3.photoURL">
              <div class="card-body">
                <p class="card-text">{{ post3.body }}</p>
                <p class="text-center">
                  <a [href]="post3.url"
                     class="text-primary">
                    {{ post3.linkText }}
                  </a>
                </p>
              </div>
            </div>
          </ng-template>
          <button class="btn btn-light"
                  placement="top"
                  [popover]="post3Popup">
            <i class="fa fa-eye"></i> Preview
          </button>
          <!-- *  Post Start * -->
          <div class="card-body">
            <div class="card-title">
              <h4>Post 3
                <small class="text-secondary">(Right)</small>
              </h4>
            </div>
            <form [formGroup]="postForm3"
                  (ngSubmit)="onUpdatePost3(postForm3.value)"
                  *ngIf="post3; else loading">

              <div class="form-group">
                <label>Body</label>
                <textarea type="text"
                          rows="5"
                          class="form-control"
                          [(ngModel)]="post3.body"
                          formControlName="body">
                                </textarea>

              </div>

              <div class="form-group">
                <label>Link Text</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post3.linkText"
                       formControlName="linkText">
              </div>


              <div class="form-group">
                <label>URL</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post3.url"
                       formControlName="url">
              </div>


              <div class="form-group">
                <label>Image URL
                  <small>(Image at the top of post)</small>
                </label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="post3.photoURL"
                       formControlName="photoURL">
              </div>


              <button type="submit"
                      [disabled]="!postForm1.valid"
                      class="btn btn-primary btn-sm mb-5">
                <i class="fa fa-passport"></i>&nbsp;Update
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




