<!-- * POSTS * -->
<div class="row">
    <div class="container-fluid new-page">
        <div class="row">
            <!-- * Post 1 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <!-- * PREVIEW * -->
                    <ng-template #post1Popup>
                        <div class="card">
                            <img class="card-img-top rounded-circle"
                                 [src]="post1.photoURL">
                            <div class="card-body text-center">
                                <p class="card-text">{{ post1.body }}</p>
                                <p class="text-center">
                                    <a [href]="post1.url"
                                       class="text-primary">
                                        {{ post1.linkText }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <button class="btn btn-light"
                            placement="top"
                            [popover]="post1Popup">
                        <i class="fa fa-eye"></i> Preview
                    </button>
                    <!-- *  Post Start * -->
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Post 1
                                <small class="text-secondary"><i class="fa fa-align-left"></i></small>
                            </h4>
                        </div>
                        <form [formGroup]="postForm1"
                              (ngSubmit)="onUpdatePost1(postForm1.value)"
                              *ngIf="post1; else loading">

                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of post)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post1.photoURL"
                                       formControlName="photoURL">
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <textarea type="text"
                                          rows="5"
                                          class="form-control"
                                          [(ngModel)]="post1.body"
                                          formControlName="body">
                                </textarea>
                            </div>

                            <div class="form-group">
                                <label>Link Text</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post1.linkText"
                                       formControlName="linkText">
                            </div>


                            <div class="form-group">
                                <label>URL</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post1.url"
                                       formControlName="url">
                            </div>



                            <button type="submit"
                                    [disabled]="!postForm1.valid"
                                    class="btn btn-secondary full-width mb-3 mt-2">
                                <i class="fa fa-passport"></i>&nbsp;Update
                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <!-- * Post 2 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <!-- * PREVIEW * -->
                    <ng-template #post2Popup>
                        <div class="card">
                            <img class="card-img-top rounded-circle"
                                 [src]="post2.photoURL">
                            <div class="card-body text-center">
                                <p class="card-text">{{ post2.body }}</p>
                                <p class="text-center">
                                    <a [href]="post2.url"
                                       class="text-primary">
                                        {{ post2.linkText }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <button class="btn btn-light"
                            placement="top"
                            [popover]="post2Popup">
                        <i class="fa fa-eye"></i> Preview
                    </button>
                    <!-- *  Post Start * -->
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Post 2
                                <small class="text-secondary"><i class="fa fa-align-center"></i></small>
                            </h4>
                        </div>
                        <form [formGroup]="postForm2"
                              (ngSubmit)="onUpdatePost2(postForm2.value)"
                              *ngIf="post2; else loading">

                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of post)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post2.photoURL"
                                       formControlName="photoURL">
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <textarea type="text"
                                          rows="5"
                                          class="form-control"
                                          [(ngModel)]="post2.body"
                                          formControlName="body">
                                </textarea>
                            </div>

                            <div class="form-group">
                                <label>Link Text</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post2.linkText"
                                       formControlName="linkText">
                            </div>


                            <div class="form-group">
                                <label>URL</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post2.url"
                                       formControlName="url">
                            </div>

                            <button type="submit"
                                    [disabled]="!postForm2.valid"
                                    class="btn btn-secondary full-width mb-3 mt-2">
                                <i class="fa fa-passport"></i>&nbsp;Update
                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <!-- * Post 3 * -->
            <div class="col-md-4">
                <ng-template #loading>
                    <div class="text-center text-dark p-5">
                        <i class="far fa-spinner fa-pulse"></i>
                        <br>
                        loading...
                    </div>
                </ng-template>
                <div class="card mb-5">
                    <!-- * PREVIEW * -->
                    <ng-template #post3Popup>
                        <div class="card">
                            <img class="card-img-top rounded-circle"
                                 [src]="post3.photoURL">
                            <div class="card-body text-center">
                                <p class="card-text">{{ post3.body }}</p>
                                <p class="text-center">
                                    <a [href]="post3.url"
                                       class="text-primary">
                                        {{ post3.linkText }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <button class="btn btn-light"
                            placement="top"
                            [popover]="post3Popup">
                        <i class="fa fa-eye"></i> Preview
                    </button>
                    <!-- *  Post Start * -->
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Post 3
                                <small class="text-secondary"><i class="fa fa-align-right"></i></small>
                            </h4>
                        </div>
                        <form [formGroup]="postForm3"
                              (ngSubmit)="onUpdatePost3(postForm3.value)"
                              *ngIf="post3; else loading">

                            <div class="form-group">
                                <label>Image URL
                                    <small>(Image at the top of post)</small>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post3.photoURL"
                                       formControlName="photoURL">
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <textarea type="text"
                                          rows="5"
                                          class="form-control"
                                          [(ngModel)]="post3.body"
                                          formControlName="body">
                                </textarea>

                            </div>

                            <div class="form-group">
                                <label>Link Text</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post3.linkText"
                                       formControlName="linkText">
                            </div>


                            <div class="form-group">
                                <label>URL</label>
                                <input type="text"
                                       class="form-control"
                                       [(ngModel)]="post3.url"
                                       formControlName="url">
                            </div>


                            <button type="submit"
                                    [disabled]="!postForm3.valid"
                                    class="btn btn-secondary full-width mb-3 mt-2">
                                <i class="fa fa-passport"></i>&nbsp;Update
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




